<template>
  <div class="mt-6">
    <p class="text-base font-semibold leading-6">Pilih Metode Pengiriman</p>
    <div class="w-full h-px bg-white-500 mt-3"></div>
    <div class="mt-3">
      <div
        class="flex justify-between items-center border border-white-500 bg-white-200 rounded-2xl p-4"
      >
        <div class="flex items-center">
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1 16.6769V22.1477H1.67254H2.34508C2.34508 22.1477 2.63935 22.1145 2.85176 22.1137C2.91229 22.1134 2.97142 22.0977 2.98316 22.0787C2.99489 22.0597 3.04238 22.0442 3.08867 22.0442C3.13495 22.0442 3.17285 22.0287 3.17285 22.0097C3.17285 21.9908 3.19082 21.9752 3.2128 21.9752C3.37958 21.9752 3.83133 21.4781 3.9576 21.1558L4.04868 20.9233L4.07317 19.4919C4.14133 15.4915 4.14981 12.5476 4.09365 12.387C3.78001 11.4912 3.32799 11.2508 1.90535 11.2235L1 11.2061V16.6769ZM4.84786 13.0467C4.78435 13.2334 4.72978 20.3632 4.79134 20.4373C4.81285 20.4632 4.91929 20.4946 5.02778 20.5071C5.53465 20.5653 5.99654 20.6707 6.10456 20.7526C6.13297 20.7742 6.23391 20.8263 6.32871 20.8684C6.71322 21.0387 6.89667 21.1315 6.89723 21.1561C6.89751 21.1703 6.91408 21.1819 6.93392 21.1819C7.11272 21.1819 7.25892 21.318 9.77121 23.8207C12.0432 26.0842 12.0405 26.0819 12.7611 26.4031C12.8085 26.4243 12.8597 26.461 12.8749 26.4847C12.8901 26.5085 12.9252 26.5279 12.953 26.5279C12.9808 26.5279 13.0343 26.5435 13.0721 26.5624C13.1097 26.5814 13.1713 26.6124 13.209 26.6314C13.2468 26.6504 13.3134 26.6658 13.3574 26.6658C13.4013 26.6658 13.4536 26.6823 13.4737 26.7024C13.5162 26.7449 14.1695 26.8568 14.6926 26.9111C14.8918 26.9318 15.1866 26.9623 15.3479 26.9789C15.5091 26.9956 15.7963 27.0253 15.986 27.045C16.4108 27.0892 16.901 27.1361 17.4001 27.1805C17.8789 27.223 19.9722 27.2236 21.5044 27.1815C22.1494 27.1638 23.0695 27.1391 23.5491 27.1266C24.0287 27.1141 24.4293 27.0908 24.4393 27.0747C24.4492 27.0585 24.4815 27.0452 24.5112 27.0452C24.5754 27.0452 24.7913 26.8633 24.8756 26.7379C24.9939 26.5622 24.9433 25.7002 24.8147 25.7002C24.7895 25.7002 24.7251 25.613 24.6715 25.5066C24.4668 25.1 24.0387 24.7242 23.5633 24.5341C23.2979 24.4278 22.6155 24.4178 20.7801 24.4932L19.8834 24.5301L18.7696 24.2528C17.4878 23.9338 17.5865 23.9481 17.5137 24.0705C17.2061 24.5868 16.4827 24.9751 15.8277 24.9757C15.526 24.9759 15.1144 24.8671 14.834 24.7129C14.5713 24.5683 10.6364 20.6805 10.5336 20.4639C10.3985 20.1791 10.5984 19.8886 10.9297 19.8886H11.1387L13.1485 21.8922C15.4255 24.1622 15.2993 24.0602 15.8308 24.0608C16.5157 24.0616 16.9519 23.6258 16.9515 22.9409C16.9513 22.4174 17.0063 22.4871 15.0874 20.5787C13.2194 18.7208 13.2632 18.7757 13.157 18.164C12.8696 16.5088 12.94 16.6323 11.3932 15.0752C10.6631 14.3403 10.2433 13.8929 10.2433 13.8498C10.2433 13.8124 10.2103 13.7589 10.1699 13.7311C10.1295 13.7032 10.0394 13.6338 9.96975 13.5769C9.85455 13.4828 9.73126 13.415 9.38111 13.2533C9.31472 13.2225 9.25521 13.1859 9.24888 13.1716C9.24254 13.1574 9.17969 13.1457 9.10919 13.1457C9.0387 13.1457 8.96625 13.1318 8.94827 13.1146C8.87815 13.048 4.86993 12.9816 4.84786 13.0467Z"
              fill="#2C2C2B"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.5527 5.07263C11.4693 5.41365 10.6042 6.32412 10.3258 7.41627L10.2434 7.73969V10.8288V13.9179L11.3933 15.0753C12.606 16.296 12.7388 16.4587 12.9034 16.9257C12.9695 17.113 13.0029 17.2765 13.1571 18.1641C13.2633 18.7757 13.2194 18.7209 15.0875 20.5788C17.0064 22.4872 16.9514 22.4174 16.9516 22.941C16.9519 23.6259 16.5157 24.0617 15.8308 24.0609C15.2994 24.0602 15.4255 24.1623 13.1486 21.8922L11.1388 19.8887H10.9297C10.5985 19.8887 10.3986 20.1791 10.5337 20.464C10.6365 20.6806 14.5714 24.5684 14.8341 24.7129C15.37 25.0078 15.873 25.0444 16.5629 24.8389C16.8541 24.7522 17.343 24.3572 17.5137 24.0706C17.5866 23.9482 17.4879 23.9339 18.7697 24.2529L19.8835 24.5301L20.7801 24.4932C22.6156 24.4179 23.2979 24.4279 23.5634 24.5341C24.037 24.7236 24.4669 25.1 24.6696 25.5028C24.7303 25.6235 24.7931 25.7 24.8421 25.7132C25.1157 25.7865 28.4401 25.7212 28.5717 25.6399C28.5914 25.6277 28.7484 25.5703 28.9207 25.5124C29.8258 25.2081 30.6528 24.3288 30.8878 23.4209C30.9194 23.2992 30.9593 23.1687 30.9764 23.1307C30.9949 23.0899 31.004 19.8985 30.9985 15.3186L30.9893 7.5756L30.9141 7.31253C30.6187 6.27774 29.7351 5.39065 28.672 5.06155C28.385 4.97261 12.8362 4.98332 12.5527 5.07263ZM26.4087 10.1215C26.5164 10.2578 26.7226 10.5013 26.8671 10.6625C27.0115 10.8237 27.2472 11.0954 27.3909 11.2661C27.5346 11.4368 27.6869 11.6076 27.7294 11.6455C27.7718 11.6834 27.8509 11.7703 27.9051 11.8387L28.0036 11.963L27.3788 12.5458C27.0351 12.8663 26.6665 13.2139 26.5596 13.3182C26.4526 13.4225 26.0961 13.7563 25.7674 14.0598C25.4385 14.3633 24.8478 14.9143 24.4544 15.2842C24.0612 15.6541 23.4785 16.1973 23.1597 16.4913C22.8409 16.7853 22.4467 17.1524 22.2837 17.307C21.6657 17.8929 21.1719 18.3556 20.5588 18.9229C20.2103 19.2454 19.8692 19.5646 19.8009 19.6322C19.7324 19.6999 19.5911 19.8305 19.4867 19.9225C19.3824 20.0144 19.12 20.2578 18.9036 20.4634C18.6872 20.6689 18.4994 20.8371 18.4861 20.8371C18.4729 20.8371 17.9982 20.3652 17.431 19.7885C16.8639 19.2117 15.693 18.0273 14.8291 17.1566L13.2582 15.5735L13.3662 15.4892C13.4256 15.4429 13.6203 15.2701 13.7989 15.1054C14.2132 14.7233 14.575 14.4033 15.0667 13.9842L15.458 13.6506L17.018 15.2337L18.578 16.8168L18.8149 16.6109C18.945 16.4978 19.2156 16.2499 19.4161 16.0602C19.6166 15.8705 20.0357 15.4825 20.3476 15.1979C20.6594 14.9135 21.0556 14.5487 21.2281 14.3874C21.4004 14.2262 21.7186 13.9313 21.9352 13.7321C22.1518 13.533 22.4536 13.2536 22.6058 13.1113C22.7581 12.969 22.9838 12.7597 23.1075 12.6462C23.2312 12.5327 23.4489 12.3308 23.5911 12.1976C23.7334 12.0643 24.0122 11.8081 24.2106 11.628C24.5694 11.3025 25.2073 10.7133 25.8258 10.1364C26.0039 9.97036 26.1638 9.84325 26.1812 9.85405C26.1987 9.86486 26.3011 9.98517 26.4087 10.1215Z"
              fill="#FB7424"
            />
          </svg>

          <label
            for="pickup"
            class="cursor-pointer ml-4 text-sm font-semibold leading-5"
          >
            Pickup / diambil
          </label>
        </div>
        <div>
          <input
            class="form-check-input appearance-none rounded-full h-6 w-6 border-2 border-white-200 bg-white-800 ring-2 ring-white-800 checked:bg-main-green checked:ring-main-green focus:outline-none transition duration-200 my-1 align-top bg-no-repeat bg-center bg-contain float-left cursor-pointer"
            type="radio"
            value="pickup"
            id="pickup"
            v-model="picked"
          />
        </div>
      </div>

      <div
        class="mt-4 flex justify-between items-center border border-white-500 bg-white-200 rounded-2xl p-4"
      >
        <div class="flex items-center">
          <svg
            width="25"
            height="31"
            viewBox="0 0 25 31"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.55134 2.01562H17.6383C17.7947 2.01562 17.9491 2.05206 18.089 2.12203C18.229 2.19201 18.3507 2.29361 18.4446 2.41879L21.1659 6.04723V21.1658C21.1659 21.4331 21.0597 21.6894 20.8707 21.8785C20.6817 22.0675 20.4253 22.1737 20.158 22.1737H4.03158C3.76427 22.1737 3.50791 22.0675 3.31889 21.8785C3.12987 21.6894 3.02368 21.4331 3.02368 21.1658V6.04723L5.74502 2.41879C5.8389 2.29361 5.96064 2.19201 6.10059 2.12203C6.24054 2.05206 6.39487 2.01562 6.55134 2.01562ZM18.6462 6.04723L17.1343 4.03143H7.05529L5.54344 6.04723H18.6462ZM9.0711 10.0788H7.05529V12.0946C7.05529 13.4312 7.58624 14.713 8.53133 15.6581C9.47642 16.6032 10.7582 17.1342 12.0948 17.1342C13.4314 17.1342 14.7132 16.6032 15.6583 15.6581C16.6034 14.713 17.1343 13.4312 17.1343 12.0946V10.0788H15.1185V12.0946C15.1185 12.8966 14.7999 13.6657 14.2329 14.2327C13.6658 14.7998 12.8967 15.1184 12.0948 15.1184C11.2929 15.1184 10.5238 14.7998 9.95672 14.2327C9.38966 13.6657 9.0711 12.8966 9.0711 12.0946V10.0788Z"
              fill="#03AC0E"
            />
            <path
              d="M6.51552 26.1708L5.72855 29.1897H4.83837L4.35673 27.2029L3.85788 29.1897H2.9677L2.20224 26.1708H2.98921L3.42355 28.3683L3.96109 26.1708H4.76957L5.28561 28.3683L5.72425 26.1708H6.51552ZM7.97661 29.2241C7.74152 29.2241 7.52937 29.1739 7.34015 29.0736C7.1538 28.9732 7.00616 28.8299 6.89721 28.6435C6.79114 28.4572 6.7381 28.2393 6.7381 27.9899C6.7381 27.7433 6.79257 27.5269 6.90151 27.3405C7.01046 27.1513 7.15954 27.0065 7.34875 26.9062C7.53797 26.8059 7.75012 26.7557 7.98521 26.7557C8.2203 26.7557 8.43245 26.8059 8.62167 26.9062C8.81088 27.0065 8.95996 27.1513 9.06891 27.3405C9.17785 27.5269 9.23232 27.7433 9.23232 27.9899C9.23232 28.2364 9.17642 28.4543 9.06461 28.6435C8.95566 28.8299 8.80515 28.9732 8.61307 29.0736C8.42385 29.1739 8.2117 29.2241 7.97661 29.2241ZM7.97661 28.5876C8.11709 28.5876 8.23607 28.536 8.33354 28.4328C8.43388 28.3296 8.48405 28.182 8.48405 27.9899C8.48405 27.7978 8.43532 27.6502 8.33784 27.547C8.24323 27.4437 8.12569 27.3921 7.98521 27.3921C7.84186 27.3921 7.72289 27.4437 7.62828 27.547C7.53367 27.6473 7.48637 27.7949 7.48637 27.9899C7.48637 28.182 7.53224 28.3296 7.62398 28.4328C7.71859 28.536 7.83613 28.5876 7.97661 28.5876ZM9.99228 26.5407C9.86327 26.5407 9.75719 26.5034 9.67405 26.4289C9.59378 26.3514 9.55364 26.2568 9.55364 26.145C9.55364 26.0303 9.59378 25.9357 9.67405 25.8612C9.75719 25.7838 9.86327 25.7451 9.99228 25.7451C10.1184 25.7451 10.2216 25.7838 10.3019 25.8612C10.385 25.9357 10.4266 26.0303 10.4266 26.145C10.4266 26.2568 10.385 26.3514 10.3019 26.4289C10.2216 26.5034 10.1184 26.5407 9.99228 26.5407ZM10.3578 26.7901V29.1897H9.62245V26.7901H10.3578ZM11.983 29.2198C11.7623 29.2198 11.5645 29.184 11.3896 29.1123C11.2147 29.0406 11.0742 28.9345 10.9681 28.7941C10.8649 28.6536 10.8104 28.4844 10.8047 28.2866H11.5874C11.5989 28.3984 11.6376 28.4844 11.7035 28.5446C11.7694 28.602 11.8554 28.6306 11.9615 28.6306C12.0705 28.6306 12.1565 28.6063 12.2195 28.5575C12.2826 28.5059 12.3142 28.4357 12.3142 28.3468C12.3142 28.2723 12.2883 28.2106 12.2367 28.1619C12.188 28.1132 12.1264 28.073 12.0518 28.0415C11.9802 28.01 11.8769 27.9741 11.7422 27.934C11.5472 27.8738 11.3881 27.8136 11.2649 27.7534C11.1416 27.6932 11.0355 27.6043 10.9466 27.4867C10.8578 27.3692 10.8133 27.2158 10.8133 27.0266C10.8133 26.7456 10.9151 26.5263 11.1186 26.3686C11.3222 26.2081 11.5874 26.1278 11.9142 26.1278C12.2468 26.1278 12.5148 26.2081 12.7184 26.3686C12.9219 26.5263 13.0309 26.7471 13.0452 27.0309H12.2496C12.2439 26.9334 12.2081 26.8575 12.1421 26.803C12.0762 26.7456 11.9916 26.717 11.8884 26.717C11.7995 26.717 11.7279 26.7413 11.6734 26.7901C11.6189 26.836 11.5917 26.9033 11.5917 26.9922C11.5917 27.0897 11.6376 27.1657 11.7293 27.2201C11.821 27.2746 11.9644 27.3334 12.1593 27.3964C12.3543 27.4624 12.512 27.5254 12.6324 27.5857C12.7557 27.6459 12.8617 27.7333 12.9506 27.848C13.0395 27.9627 13.0839 28.1103 13.0839 28.2909C13.0839 28.4629 13.0395 28.6192 12.9506 28.7597C12.8646 28.9001 12.7385 29.0119 12.5722 29.0951C12.4059 29.1782 12.2095 29.2198 11.983 29.2198ZM15.0115 26.7643C15.2867 26.7643 15.5075 26.856 15.6738 27.0395C15.84 27.2201 15.9232 27.4695 15.9232 27.7878V29.1897H15.1921V27.8867C15.1921 27.7261 15.1505 27.6014 15.0674 27.5125C14.9843 27.4237 14.8725 27.3792 14.732 27.3792C14.5915 27.3792 14.4797 27.4237 14.3965 27.5125C14.3134 27.6014 14.2718 27.7261 14.2718 27.8867V29.1897H13.5365V26.0074H14.2718V27.1126C14.3464 27.0065 14.4481 26.922 14.5772 26.8589C14.7062 26.7958 14.851 26.7643 15.0115 26.7643ZM17.5265 29.2241C17.2914 29.2241 17.0792 29.1739 16.89 29.0736C16.7037 28.9732 16.556 28.8299 16.4471 28.6435C16.341 28.4572 16.288 28.2393 16.288 27.9899C16.288 27.7433 16.3424 27.5269 16.4514 27.3405C16.5603 27.1513 16.7094 27.0065 16.8986 26.9062C17.0878 26.8059 17.3 26.7557 17.5351 26.7557C17.7702 26.7557 17.9823 26.8059 18.1715 26.9062C18.3608 27.0065 18.5098 27.1513 18.6188 27.3405C18.7277 27.5269 18.7822 27.7433 18.7822 27.9899C18.7822 28.2364 18.7263 28.4543 18.6145 28.6435C18.5055 28.8299 18.355 28.9732 18.1629 29.0736C17.9737 29.1739 17.7616 29.2241 17.5265 29.2241ZM17.5265 28.5876C17.667 28.5876 17.7859 28.536 17.8834 28.4328C17.9838 28.3296 18.0339 28.182 18.0339 27.9899C18.0339 27.7978 17.9852 27.6502 17.8877 27.547C17.7931 27.4437 17.6756 27.3921 17.5351 27.3921C17.3917 27.3921 17.2728 27.4437 17.1782 27.547C17.0835 27.6473 17.0362 27.7949 17.0362 27.9899C17.0362 28.182 17.0821 28.3296 17.1739 28.4328C17.2685 28.536 17.386 28.5876 17.5265 28.5876ZM19.9077 27.1298C19.9794 27.018 20.0783 26.9277 20.2044 26.8589C20.3306 26.7901 20.4782 26.7557 20.6474 26.7557C20.8452 26.7557 21.0244 26.8059 21.1849 26.9062C21.3454 27.0065 21.4716 27.1499 21.5633 27.3362C21.6579 27.5226 21.7052 27.739 21.7052 27.9856C21.7052 28.2321 21.6579 28.45 21.5633 28.6392C21.4716 28.8256 21.3454 28.9704 21.1849 29.0736C21.0244 29.1739 20.8452 29.2241 20.6474 29.2241C20.4811 29.2241 20.3334 29.1897 20.2044 29.1209C20.0783 29.0521 19.9794 28.9632 19.9077 28.8543V30.3336H19.1723V26.7901H19.9077V27.1298ZM20.957 27.9856C20.957 27.8021 20.9054 27.6588 20.8022 27.5556C20.7018 27.4495 20.5771 27.3964 20.428 27.3964C20.2818 27.3964 20.1571 27.4495 20.0539 27.5556C19.9536 27.6616 19.9034 27.8064 19.9034 27.9899C19.9034 28.1734 19.9536 28.3182 20.0539 28.4242C20.1571 28.5303 20.2818 28.5833 20.428 28.5833C20.5742 28.5833 20.699 28.5303 20.8022 28.4242C20.9054 28.3153 20.957 28.1691 20.957 27.9856Z"
              fill="#03AC0E"
            />
          </svg>

          <label
            for="ekspress"
            class="cursor-pointer ml-4 text-sm font-semibold leading-5"
          >
            Ekspress / Kirim Cepat
          </label>
        </div>
        <div>
          <input
            class="form-check-input appearance-none rounded-full h-6 w-6 border-2 border-white-200 bg-white-800 ring-2 ring-white-800 checked:bg-main-green checked:ring-main-green focus:outline-none transition duration-200 my-1 align-top bg-no-repeat bg-center bg-contain float-left cursor-pointer"
            type="radio"
            value="ekspress"
            id="ekspress"
            v-model="picked"
          />
        </div>
      </div>

      <div
        class="mt-4 flex justify-between items-center border border-white-500 bg-white-200 rounded-2xl p-4"
      >
        <div class="flex items-center">
          <svg
            width="33"
            height="37"
            viewBox="0 0 33 37"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.5513 8.20532H22.6383C22.7947 8.20532 22.9491 8.24175 23.089 8.31173C23.229 8.38171 23.3507 8.48331 23.4446 8.60848L26.1659 12.2369V27.3555C26.1659 27.6228 26.0597 27.8791 25.8707 28.0682C25.6817 28.2572 25.4253 28.3634 25.158 28.3634H9.03158C8.76427 28.3634 8.50791 28.2572 8.31889 28.0682C8.12987 27.8791 8.02368 27.6228 8.02368 27.3555V12.2369L10.745 8.60848C10.8389 8.48331 10.9606 8.38171 11.1006 8.31173C11.2405 8.24175 11.3949 8.20532 11.5513 8.20532ZM23.6462 12.2369L22.1343 10.2211H12.0553L10.5434 12.2369H23.6462ZM14.0711 16.2685H12.0553V18.2843C12.0553 19.6209 12.5862 20.9027 13.5313 21.8478C14.4764 22.7929 15.7582 23.3239 17.0948 23.3239C18.4314 23.3239 19.7132 22.7929 20.6583 21.8478C21.6034 20.9027 22.1343 19.6209 22.1343 18.2843V16.2685H20.1185V18.2843C20.1185 19.0863 19.7999 19.8554 19.2329 20.4224C18.6658 20.9895 17.8967 21.3081 17.0948 21.3081C16.2929 21.3081 15.5238 20.9895 14.9567 20.4224C14.3897 19.8554 14.0711 19.0863 14.0711 18.2843V16.2685Z"
              fill="#03AC0E"
            />
            <path
              d="M11.5155 32.3605L10.7286 35.3794H9.83837L9.35673 33.3926L8.85788 35.3794H7.9677L7.20224 32.3605H7.98921L8.42355 34.558L8.96109 32.3605H9.76957L10.2856 34.558L10.7243 32.3605H11.5155ZM12.9766 35.4138C12.7415 35.4138 12.5294 35.3636 12.3402 35.2633C12.1538 35.1629 12.0062 35.0196 11.8972 34.8332C11.7911 34.6469 11.7381 34.429 11.7381 34.1796C11.7381 33.933 11.7926 33.7166 11.9015 33.5302C12.0105 33.341 12.1595 33.1962 12.3488 33.0959C12.538 32.9955 12.7501 32.9454 12.9852 32.9454C13.2203 32.9454 13.4324 32.9955 13.6217 33.0959C13.8109 33.1962 13.96 33.341 14.0689 33.5302C14.1778 33.7166 14.2323 33.933 14.2323 34.1796C14.2323 34.4261 14.1764 34.644 14.0646 34.8332C13.9557 35.0196 13.8051 35.1629 13.6131 35.2633C13.4238 35.3636 13.2117 35.4138 12.9766 35.4138ZM12.9766 34.7773C13.1171 34.7773 13.2361 34.7257 13.3335 34.6225C13.4339 34.5193 13.4841 34.3717 13.4841 34.1796C13.4841 33.9875 13.4353 33.8399 13.3378 33.7366C13.2432 33.6334 13.1257 33.5818 12.9852 33.5818C12.8419 33.5818 12.7229 33.6334 12.6283 33.7366C12.5337 33.837 12.4864 33.9846 12.4864 34.1796C12.4864 34.3717 12.5322 34.5193 12.624 34.6225C12.7186 34.7257 12.8361 34.7773 12.9766 34.7773ZM14.9923 32.7304C14.8633 32.7304 14.7572 32.6931 14.6741 32.6185C14.5938 32.5411 14.5536 32.4465 14.5536 32.3347C14.5536 32.22 14.5938 32.1254 14.6741 32.0509C14.7572 31.9735 14.8633 31.9348 14.9923 31.9348C15.1184 31.9348 15.2216 31.9735 15.3019 32.0509C15.385 32.1254 15.4266 32.22 15.4266 32.3347C15.4266 32.4465 15.385 32.5411 15.3019 32.6185C15.2216 32.6931 15.1184 32.7304 14.9923 32.7304ZM15.3578 32.9798V35.3794H14.6224V32.9798H15.3578ZM16.983 35.4095C16.7623 35.4095 16.5645 35.3737 16.3896 35.302C16.2147 35.2303 16.0742 35.1242 15.9681 34.9838C15.8649 34.8433 15.8104 34.6741 15.8047 34.4763H16.5874C16.5989 34.5881 16.6376 34.6741 16.7035 34.7343C16.7694 34.7917 16.8554 34.8203 16.9615 34.8203C17.0705 34.8203 17.1565 34.796 17.2195 34.7472C17.2826 34.6956 17.3142 34.6254 17.3142 34.5365C17.3142 34.462 17.2883 34.4003 17.2367 34.3516C17.188 34.3029 17.1264 34.2627 17.0518 34.2312C16.9802 34.1997 16.8769 34.1638 16.7422 34.1237C16.5472 34.0635 16.3881 34.0033 16.2649 33.9431C16.1416 33.8829 16.0355 33.794 15.9466 33.6764C15.8578 33.5589 15.8133 33.4055 15.8133 33.2163C15.8133 32.9353 15.9151 32.716 16.1186 32.5583C16.3222 32.3978 16.5874 32.3175 16.9142 32.3175C17.2468 32.3175 17.5148 32.3978 17.7184 32.5583C17.9219 32.716 18.0309 32.9368 18.0452 33.2206H17.2496C17.2439 33.1231 17.2081 33.0472 17.1421 32.9927C17.0762 32.9353 16.9916 32.9067 16.8884 32.9067C16.7995 32.9067 16.7279 32.931 16.6734 32.9798C16.6189 33.0257 16.5917 33.093 16.5917 33.1819C16.5917 33.2794 16.6376 33.3553 16.7293 33.4098C16.821 33.4643 16.9644 33.5231 17.1593 33.5861C17.3543 33.6521 17.512 33.7151 17.6324 33.7754C17.7557 33.8356 17.8617 33.923 17.9506 34.0377C18.0395 34.1524 18.0839 34.3 18.0839 34.4806C18.0839 34.6526 18.0395 34.8089 17.9506 34.9494C17.8646 35.0898 17.7385 35.2016 17.5722 35.2848C17.4059 35.3679 17.2095 35.4095 16.983 35.4095ZM20.0115 32.954C20.2867 32.954 20.5075 33.0457 20.6738 33.2292C20.84 33.4098 20.9232 33.6592 20.9232 33.9775V35.3794H20.1921V34.0764C20.1921 33.9158 20.1505 33.7911 20.0674 33.7022C19.9843 33.6134 19.8725 33.5689 19.732 33.5689C19.5915 33.5689 19.4797 33.6134 19.3965 33.7022C19.3134 33.7911 19.2718 33.9158 19.2718 34.0764V35.3794H18.5365V32.1971H19.2718V33.3023C19.3464 33.1962 19.4481 33.1117 19.5772 33.0486C19.7062 32.9855 19.851 32.954 20.0115 32.954ZM22.5265 35.4138C22.2914 35.4138 22.0792 35.3636 21.89 35.2633C21.7037 35.1629 21.556 35.0196 21.4471 34.8332C21.341 34.6469 21.288 34.429 21.288 34.1796C21.288 33.933 21.3424 33.7166 21.4514 33.5302C21.5603 33.341 21.7094 33.1962 21.8986 33.0959C22.0878 32.9955 22.3 32.9454 22.5351 32.9454C22.7702 32.9454 22.9823 32.9955 23.1715 33.0959C23.3608 33.1962 23.5098 33.341 23.6188 33.5302C23.7277 33.7166 23.7822 33.933 23.7822 34.1796C23.7822 34.4261 23.7263 34.644 23.6145 34.8332C23.5055 35.0196 23.355 35.1629 23.1629 35.2633C22.9737 35.3636 22.7616 35.4138 22.5265 35.4138ZM22.5265 34.7773C22.667 34.7773 22.7859 34.7257 22.8834 34.6225C22.9838 34.5193 23.0339 34.3717 23.0339 34.1796C23.0339 33.9875 22.9852 33.8399 22.8877 33.7366C22.7931 33.6334 22.6756 33.5818 22.5351 33.5818C22.3917 33.5818 22.2728 33.6334 22.1782 33.7366C22.0835 33.837 22.0362 33.9846 22.0362 34.1796C22.0362 34.3717 22.0821 34.5193 22.1739 34.6225C22.2685 34.7257 22.386 34.7773 22.5265 34.7773ZM24.9077 33.3195C24.9794 33.2077 25.0783 33.1174 25.2044 33.0486C25.3306 32.9798 25.4782 32.9454 25.6474 32.9454C25.8452 32.9454 26.0244 32.9955 26.1849 33.0959C26.3454 33.1962 26.4716 33.3396 26.5633 33.5259C26.6579 33.7123 26.7052 33.9287 26.7052 34.1753C26.7052 34.4218 26.6579 34.6397 26.5633 34.8289C26.4716 35.0153 26.3454 35.1601 26.1849 35.2633C26.0244 35.3636 25.8452 35.4138 25.6474 35.4138C25.4811 35.4138 25.3334 35.3794 25.2044 35.3106C25.0783 35.2418 24.9794 35.1529 24.9077 35.044V36.5233H24.1723V32.9798H24.9077V33.3195ZM25.957 34.1753C25.957 33.9918 25.9054 33.8485 25.8022 33.7452C25.7018 33.6392 25.5771 33.5861 25.428 33.5861C25.2818 33.5861 25.1571 33.6392 25.0539 33.7452C24.9536 33.8513 24.9034 33.9961 24.9034 34.1796C24.9034 34.3631 24.9536 34.5079 25.0539 34.6139C25.1571 34.72 25.2818 34.773 25.428 34.773C25.5742 34.773 25.699 34.72 25.8022 34.6139C25.9054 34.505 25.957 34.3588 25.957 34.1753Z"
              fill="#03AC0E"
            />
            <g clip-path="url(#clip0_0_1)">
              <path
                d="M25.1895 30.7248C28.2466 30.7248 30.7248 28.2466 30.7248 25.1895C30.7248 22.1325 28.2466 19.6543 25.1895 19.6543C22.1325 19.6543 19.6543 22.1325 19.6543 25.1895C19.6543 28.2466 22.1325 30.7248 25.1895 30.7248Z"
                fill="#0C80EB"
              />
              <path
                d="M25.1895 31.1897C21.8813 31.1897 19.1895 28.4983 19.1895 25.1897C19.1895 21.8816 21.8813 19.1897 25.1895 19.1897C28.4981 19.1897 31.1895 21.8816 31.1895 25.1897C31.1895 28.4983 28.4981 31.1897 25.1895 31.1897ZM25.1895 20.1192C22.3935 20.1192 20.119 22.3937 20.119 25.1897C20.119 27.9857 22.3935 30.2602 25.1895 30.2602C27.9854 30.2602 30.2599 27.9852 30.2599 25.1897C30.2599 22.3937 27.9854 20.1192 25.1895 20.1192Z"
                fill="#0C80EB"
              />
              <path
                d="M27.7218 28.1897C27.5825 28.1897 27.4425 28.1483 27.3225 28.0624L24.6561 26.1533C24.4881 26.0337 24.3894 25.8447 24.3894 25.6442V21.8261C24.3894 21.4748 24.6881 21.1897 25.056 21.1897C25.424 21.1897 25.7227 21.4748 25.7227 21.8261V25.3261L28.1225 27.0443C28.4172 27.2549 28.4771 27.6539 28.2558 27.9345C28.1251 28.1025 27.9251 28.1897 27.7218 28.1897Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_0_1">
                <rect
                  width="12"
                  height="12"
                  fill="white"
                  transform="translate(19.1895 19.1897)"
                />
              </clipPath>
            </defs>
          </svg>

          <label
            for="morning"
            class="cursor-pointer ml-4 text-sm font-semibold leading-5"
          >
            09:00 - 11:00
          </label>
        </div>
        <div>
          <input
            class="form-check-input appearance-none rounded-full h-6 w-6 border-2 border-white-200 bg-white-800 ring-2 ring-white-800 checked:bg-main-green checked:ring-main-green focus:outline-none transition duration-200 my-1 align-top bg-no-repeat bg-center bg-contain float-left cursor-pointer"
            type="radio"
            value="morning"
            id="morning"
            v-model="picked"
          />
        </div>
      </div>

      <div
        class="mt-4 flex justify-between items-center border border-white-500 bg-white-200 rounded-2xl p-4"
      >
        <div class="flex items-center">
          <svg
            width="33"
            height="37"
            viewBox="0 0 33 37"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.5513 8.20532H22.6383C22.7947 8.20532 22.9491 8.24175 23.089 8.31173C23.229 8.38171 23.3507 8.48331 23.4446 8.60848L26.1659 12.2369V27.3555C26.1659 27.6228 26.0597 27.8791 25.8707 28.0682C25.6817 28.2572 25.4253 28.3634 25.158 28.3634H9.03158C8.76427 28.3634 8.50791 28.2572 8.31889 28.0682C8.12987 27.8791 8.02368 27.6228 8.02368 27.3555V12.2369L10.745 8.60848C10.8389 8.48331 10.9606 8.38171 11.1006 8.31173C11.2405 8.24175 11.3949 8.20532 11.5513 8.20532ZM23.6462 12.2369L22.1343 10.2211H12.0553L10.5434 12.2369H23.6462ZM14.0711 16.2685H12.0553V18.2843C12.0553 19.6209 12.5862 20.9027 13.5313 21.8478C14.4764 22.7929 15.7582 23.3239 17.0948 23.3239C18.4314 23.3239 19.7132 22.7929 20.6583 21.8478C21.6034 20.9027 22.1343 19.6209 22.1343 18.2843V16.2685H20.1185V18.2843C20.1185 19.0863 19.7999 19.8554 19.2329 20.4224C18.6658 20.9895 17.8967 21.3081 17.0948 21.3081C16.2929 21.3081 15.5238 20.9895 14.9567 20.4224C14.3897 19.8554 14.0711 19.0863 14.0711 18.2843V16.2685Z"
              fill="#03AC0E"
            />
            <path
              d="M11.5155 32.3605L10.7286 35.3794H9.83837L9.35673 33.3926L8.85788 35.3794H7.9677L7.20224 32.3605H7.98921L8.42355 34.558L8.96109 32.3605H9.76957L10.2856 34.558L10.7243 32.3605H11.5155ZM12.9766 35.4138C12.7415 35.4138 12.5294 35.3636 12.3402 35.2633C12.1538 35.1629 12.0062 35.0196 11.8972 34.8332C11.7911 34.6469 11.7381 34.429 11.7381 34.1796C11.7381 33.933 11.7926 33.7166 11.9015 33.5302C12.0105 33.341 12.1595 33.1962 12.3488 33.0959C12.538 32.9955 12.7501 32.9454 12.9852 32.9454C13.2203 32.9454 13.4324 32.9955 13.6217 33.0959C13.8109 33.1962 13.96 33.341 14.0689 33.5302C14.1778 33.7166 14.2323 33.933 14.2323 34.1796C14.2323 34.4261 14.1764 34.644 14.0646 34.8332C13.9557 35.0196 13.8051 35.1629 13.6131 35.2633C13.4238 35.3636 13.2117 35.4138 12.9766 35.4138ZM12.9766 34.7773C13.1171 34.7773 13.2361 34.7257 13.3335 34.6225C13.4339 34.5193 13.4841 34.3717 13.4841 34.1796C13.4841 33.9875 13.4353 33.8399 13.3378 33.7366C13.2432 33.6334 13.1257 33.5818 12.9852 33.5818C12.8419 33.5818 12.7229 33.6334 12.6283 33.7366C12.5337 33.837 12.4864 33.9846 12.4864 34.1796C12.4864 34.3717 12.5322 34.5193 12.624 34.6225C12.7186 34.7257 12.8361 34.7773 12.9766 34.7773ZM14.9923 32.7304C14.8633 32.7304 14.7572 32.6931 14.6741 32.6185C14.5938 32.5411 14.5536 32.4465 14.5536 32.3347C14.5536 32.22 14.5938 32.1254 14.6741 32.0509C14.7572 31.9735 14.8633 31.9348 14.9923 31.9348C15.1184 31.9348 15.2216 31.9735 15.3019 32.0509C15.385 32.1254 15.4266 32.22 15.4266 32.3347C15.4266 32.4465 15.385 32.5411 15.3019 32.6185C15.2216 32.6931 15.1184 32.7304 14.9923 32.7304ZM15.3578 32.9798V35.3794H14.6224V32.9798H15.3578ZM16.983 35.4095C16.7623 35.4095 16.5645 35.3737 16.3896 35.302C16.2147 35.2303 16.0742 35.1242 15.9681 34.9838C15.8649 34.8433 15.8104 34.6741 15.8047 34.4763H16.5874C16.5989 34.5881 16.6376 34.6741 16.7035 34.7343C16.7694 34.7917 16.8554 34.8203 16.9615 34.8203C17.0705 34.8203 17.1565 34.796 17.2195 34.7472C17.2826 34.6956 17.3142 34.6254 17.3142 34.5365C17.3142 34.462 17.2883 34.4003 17.2367 34.3516C17.188 34.3029 17.1264 34.2627 17.0518 34.2312C16.9802 34.1997 16.8769 34.1638 16.7422 34.1237C16.5472 34.0635 16.3881 34.0033 16.2649 33.9431C16.1416 33.8829 16.0355 33.794 15.9466 33.6764C15.8578 33.5589 15.8133 33.4055 15.8133 33.2163C15.8133 32.9353 15.9151 32.716 16.1186 32.5583C16.3222 32.3978 16.5874 32.3175 16.9142 32.3175C17.2468 32.3175 17.5148 32.3978 17.7184 32.5583C17.9219 32.716 18.0309 32.9368 18.0452 33.2206H17.2496C17.2439 33.1231 17.2081 33.0472 17.1421 32.9927C17.0762 32.9353 16.9916 32.9067 16.8884 32.9067C16.7995 32.9067 16.7279 32.931 16.6734 32.9798C16.6189 33.0257 16.5917 33.093 16.5917 33.1819C16.5917 33.2794 16.6376 33.3553 16.7293 33.4098C16.821 33.4643 16.9644 33.5231 17.1593 33.5861C17.3543 33.6521 17.512 33.7151 17.6324 33.7754C17.7557 33.8356 17.8617 33.923 17.9506 34.0377C18.0395 34.1524 18.0839 34.3 18.0839 34.4806C18.0839 34.6526 18.0395 34.8089 17.9506 34.9494C17.8646 35.0898 17.7385 35.2016 17.5722 35.2848C17.4059 35.3679 17.2095 35.4095 16.983 35.4095ZM20.0115 32.954C20.2867 32.954 20.5075 33.0457 20.6738 33.2292C20.84 33.4098 20.9232 33.6592 20.9232 33.9775V35.3794H20.1921V34.0764C20.1921 33.9158 20.1505 33.7911 20.0674 33.7022C19.9843 33.6134 19.8725 33.5689 19.732 33.5689C19.5915 33.5689 19.4797 33.6134 19.3965 33.7022C19.3134 33.7911 19.2718 33.9158 19.2718 34.0764V35.3794H18.5365V32.1971H19.2718V33.3023C19.3464 33.1962 19.4481 33.1117 19.5772 33.0486C19.7062 32.9855 19.851 32.954 20.0115 32.954ZM22.5265 35.4138C22.2914 35.4138 22.0792 35.3636 21.89 35.2633C21.7037 35.1629 21.556 35.0196 21.4471 34.8332C21.341 34.6469 21.288 34.429 21.288 34.1796C21.288 33.933 21.3424 33.7166 21.4514 33.5302C21.5603 33.341 21.7094 33.1962 21.8986 33.0959C22.0878 32.9955 22.3 32.9454 22.5351 32.9454C22.7702 32.9454 22.9823 32.9955 23.1715 33.0959C23.3608 33.1962 23.5098 33.341 23.6188 33.5302C23.7277 33.7166 23.7822 33.933 23.7822 34.1796C23.7822 34.4261 23.7263 34.644 23.6145 34.8332C23.5055 35.0196 23.355 35.1629 23.1629 35.2633C22.9737 35.3636 22.7616 35.4138 22.5265 35.4138ZM22.5265 34.7773C22.667 34.7773 22.7859 34.7257 22.8834 34.6225C22.9838 34.5193 23.0339 34.3717 23.0339 34.1796C23.0339 33.9875 22.9852 33.8399 22.8877 33.7366C22.7931 33.6334 22.6756 33.5818 22.5351 33.5818C22.3917 33.5818 22.2728 33.6334 22.1782 33.7366C22.0835 33.837 22.0362 33.9846 22.0362 34.1796C22.0362 34.3717 22.0821 34.5193 22.1739 34.6225C22.2685 34.7257 22.386 34.7773 22.5265 34.7773ZM24.9077 33.3195C24.9794 33.2077 25.0783 33.1174 25.2044 33.0486C25.3306 32.9798 25.4782 32.9454 25.6474 32.9454C25.8452 32.9454 26.0244 32.9955 26.1849 33.0959C26.3454 33.1962 26.4716 33.3396 26.5633 33.5259C26.6579 33.7123 26.7052 33.9287 26.7052 34.1753C26.7052 34.4218 26.6579 34.6397 26.5633 34.8289C26.4716 35.0153 26.3454 35.1601 26.1849 35.2633C26.0244 35.3636 25.8452 35.4138 25.6474 35.4138C25.4811 35.4138 25.3334 35.3794 25.2044 35.3106C25.0783 35.2418 24.9794 35.1529 24.9077 35.044V36.5233H24.1723V32.9798H24.9077V33.3195ZM25.957 34.1753C25.957 33.9918 25.9054 33.8485 25.8022 33.7452C25.7018 33.6392 25.5771 33.5861 25.428 33.5861C25.2818 33.5861 25.1571 33.6392 25.0539 33.7452C24.9536 33.8513 24.9034 33.9961 24.9034 34.1796C24.9034 34.3631 24.9536 34.5079 25.0539 34.6139C25.1571 34.72 25.2818 34.773 25.428 34.773C25.5742 34.773 25.699 34.72 25.8022 34.6139C25.9054 34.505 25.957 34.3588 25.957 34.1753Z"
              fill="#03AC0E"
            />
            <g clip-path="url(#clip0_0_1)">
              <path
                d="M25.1895 30.7248C28.2466 30.7248 30.7248 28.2466 30.7248 25.1895C30.7248 22.1325 28.2466 19.6543 25.1895 19.6543C22.1325 19.6543 19.6543 22.1325 19.6543 25.1895C19.6543 28.2466 22.1325 30.7248 25.1895 30.7248Z"
                fill="#0C80EB"
              />
              <path
                d="M25.1895 31.1897C21.8813 31.1897 19.1895 28.4983 19.1895 25.1897C19.1895 21.8816 21.8813 19.1897 25.1895 19.1897C28.4981 19.1897 31.1895 21.8816 31.1895 25.1897C31.1895 28.4983 28.4981 31.1897 25.1895 31.1897ZM25.1895 20.1192C22.3935 20.1192 20.119 22.3937 20.119 25.1897C20.119 27.9857 22.3935 30.2602 25.1895 30.2602C27.9854 30.2602 30.2599 27.9852 30.2599 25.1897C30.2599 22.3937 27.9854 20.1192 25.1895 20.1192Z"
                fill="#0C80EB"
              />
              <path
                d="M27.7218 28.1897C27.5825 28.1897 27.4425 28.1483 27.3225 28.0624L24.6561 26.1533C24.4881 26.0337 24.3894 25.8447 24.3894 25.6442V21.8261C24.3894 21.4748 24.6881 21.1897 25.056 21.1897C25.424 21.1897 25.7227 21.4748 25.7227 21.8261V25.3261L28.1225 27.0443C28.4172 27.2549 28.4771 27.6539 28.2558 27.9345C28.1251 28.1025 27.9251 28.1897 27.7218 28.1897Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_0_1">
                <rect
                  width="12"
                  height="12"
                  fill="white"
                  transform="translate(19.1895 19.1897)"
                />
              </clipPath>
            </defs>
          </svg>

          <label
            for="afternoon"
            class="cursor-pointer ml-4 text-sm font-semibold leading-5"
          >
            12:00 - 16:00
          </label>
        </div>
        <div>
          <input
            class="form-check-input appearance-none rounded-full h-6 w-6 border-2 border-white-200 bg-white-800 ring-2 ring-white-800 checked:bg-main-green checked:ring-main-green focus:outline-none transition duration-200 my-1 align-top bg-no-repeat bg-center bg-contain float-left cursor-pointer"
            type="radio"
            value="afternoon"
            id="afternoon"
            v-model="picked"
          />
        </div>
      </div>

      <div
        class="mt-4 flex justify-between items-center border border-white-500 bg-white-200 rounded-2xl p-4"
      >
        <div class="flex items-center">
          <svg
            width="33"
            height="37"
            viewBox="0 0 33 37"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.5513 8.20532H22.6383C22.7947 8.20532 22.9491 8.24175 23.089 8.31173C23.229 8.38171 23.3507 8.48331 23.4446 8.60848L26.1659 12.2369V27.3555C26.1659 27.6228 26.0597 27.8791 25.8707 28.0682C25.6817 28.2572 25.4253 28.3634 25.158 28.3634H9.03158C8.76427 28.3634 8.50791 28.2572 8.31889 28.0682C8.12987 27.8791 8.02368 27.6228 8.02368 27.3555V12.2369L10.745 8.60848C10.8389 8.48331 10.9606 8.38171 11.1006 8.31173C11.2405 8.24175 11.3949 8.20532 11.5513 8.20532ZM23.6462 12.2369L22.1343 10.2211H12.0553L10.5434 12.2369H23.6462ZM14.0711 16.2685H12.0553V18.2843C12.0553 19.6209 12.5862 20.9027 13.5313 21.8478C14.4764 22.7929 15.7582 23.3239 17.0948 23.3239C18.4314 23.3239 19.7132 22.7929 20.6583 21.8478C21.6034 20.9027 22.1343 19.6209 22.1343 18.2843V16.2685H20.1185V18.2843C20.1185 19.0863 19.7999 19.8554 19.2329 20.4224C18.6658 20.9895 17.8967 21.3081 17.0948 21.3081C16.2929 21.3081 15.5238 20.9895 14.9567 20.4224C14.3897 19.8554 14.0711 19.0863 14.0711 18.2843V16.2685Z"
              fill="#03AC0E"
            />
            <path
              d="M11.5155 32.3605L10.7286 35.3794H9.83837L9.35673 33.3926L8.85788 35.3794H7.9677L7.20224 32.3605H7.98921L8.42355 34.558L8.96109 32.3605H9.76957L10.2856 34.558L10.7243 32.3605H11.5155ZM12.9766 35.4138C12.7415 35.4138 12.5294 35.3636 12.3402 35.2633C12.1538 35.1629 12.0062 35.0196 11.8972 34.8332C11.7911 34.6469 11.7381 34.429 11.7381 34.1796C11.7381 33.933 11.7926 33.7166 11.9015 33.5302C12.0105 33.341 12.1595 33.1962 12.3488 33.0959C12.538 32.9955 12.7501 32.9454 12.9852 32.9454C13.2203 32.9454 13.4324 32.9955 13.6217 33.0959C13.8109 33.1962 13.96 33.341 14.0689 33.5302C14.1778 33.7166 14.2323 33.933 14.2323 34.1796C14.2323 34.4261 14.1764 34.644 14.0646 34.8332C13.9557 35.0196 13.8051 35.1629 13.6131 35.2633C13.4238 35.3636 13.2117 35.4138 12.9766 35.4138ZM12.9766 34.7773C13.1171 34.7773 13.2361 34.7257 13.3335 34.6225C13.4339 34.5193 13.4841 34.3717 13.4841 34.1796C13.4841 33.9875 13.4353 33.8399 13.3378 33.7366C13.2432 33.6334 13.1257 33.5818 12.9852 33.5818C12.8419 33.5818 12.7229 33.6334 12.6283 33.7366C12.5337 33.837 12.4864 33.9846 12.4864 34.1796C12.4864 34.3717 12.5322 34.5193 12.624 34.6225C12.7186 34.7257 12.8361 34.7773 12.9766 34.7773ZM14.9923 32.7304C14.8633 32.7304 14.7572 32.6931 14.6741 32.6185C14.5938 32.5411 14.5536 32.4465 14.5536 32.3347C14.5536 32.22 14.5938 32.1254 14.6741 32.0509C14.7572 31.9735 14.8633 31.9348 14.9923 31.9348C15.1184 31.9348 15.2216 31.9735 15.3019 32.0509C15.385 32.1254 15.4266 32.22 15.4266 32.3347C15.4266 32.4465 15.385 32.5411 15.3019 32.6185C15.2216 32.6931 15.1184 32.7304 14.9923 32.7304ZM15.3578 32.9798V35.3794H14.6224V32.9798H15.3578ZM16.983 35.4095C16.7623 35.4095 16.5645 35.3737 16.3896 35.302C16.2147 35.2303 16.0742 35.1242 15.9681 34.9838C15.8649 34.8433 15.8104 34.6741 15.8047 34.4763H16.5874C16.5989 34.5881 16.6376 34.6741 16.7035 34.7343C16.7694 34.7917 16.8554 34.8203 16.9615 34.8203C17.0705 34.8203 17.1565 34.796 17.2195 34.7472C17.2826 34.6956 17.3142 34.6254 17.3142 34.5365C17.3142 34.462 17.2883 34.4003 17.2367 34.3516C17.188 34.3029 17.1264 34.2627 17.0518 34.2312C16.9802 34.1997 16.8769 34.1638 16.7422 34.1237C16.5472 34.0635 16.3881 34.0033 16.2649 33.9431C16.1416 33.8829 16.0355 33.794 15.9466 33.6764C15.8578 33.5589 15.8133 33.4055 15.8133 33.2163C15.8133 32.9353 15.9151 32.716 16.1186 32.5583C16.3222 32.3978 16.5874 32.3175 16.9142 32.3175C17.2468 32.3175 17.5148 32.3978 17.7184 32.5583C17.9219 32.716 18.0309 32.9368 18.0452 33.2206H17.2496C17.2439 33.1231 17.2081 33.0472 17.1421 32.9927C17.0762 32.9353 16.9916 32.9067 16.8884 32.9067C16.7995 32.9067 16.7279 32.931 16.6734 32.9798C16.6189 33.0257 16.5917 33.093 16.5917 33.1819C16.5917 33.2794 16.6376 33.3553 16.7293 33.4098C16.821 33.4643 16.9644 33.5231 17.1593 33.5861C17.3543 33.6521 17.512 33.7151 17.6324 33.7754C17.7557 33.8356 17.8617 33.923 17.9506 34.0377C18.0395 34.1524 18.0839 34.3 18.0839 34.4806C18.0839 34.6526 18.0395 34.8089 17.9506 34.9494C17.8646 35.0898 17.7385 35.2016 17.5722 35.2848C17.4059 35.3679 17.2095 35.4095 16.983 35.4095ZM20.0115 32.954C20.2867 32.954 20.5075 33.0457 20.6738 33.2292C20.84 33.4098 20.9232 33.6592 20.9232 33.9775V35.3794H20.1921V34.0764C20.1921 33.9158 20.1505 33.7911 20.0674 33.7022C19.9843 33.6134 19.8725 33.5689 19.732 33.5689C19.5915 33.5689 19.4797 33.6134 19.3965 33.7022C19.3134 33.7911 19.2718 33.9158 19.2718 34.0764V35.3794H18.5365V32.1971H19.2718V33.3023C19.3464 33.1962 19.4481 33.1117 19.5772 33.0486C19.7062 32.9855 19.851 32.954 20.0115 32.954ZM22.5265 35.4138C22.2914 35.4138 22.0792 35.3636 21.89 35.2633C21.7037 35.1629 21.556 35.0196 21.4471 34.8332C21.341 34.6469 21.288 34.429 21.288 34.1796C21.288 33.933 21.3424 33.7166 21.4514 33.5302C21.5603 33.341 21.7094 33.1962 21.8986 33.0959C22.0878 32.9955 22.3 32.9454 22.5351 32.9454C22.7702 32.9454 22.9823 32.9955 23.1715 33.0959C23.3608 33.1962 23.5098 33.341 23.6188 33.5302C23.7277 33.7166 23.7822 33.933 23.7822 34.1796C23.7822 34.4261 23.7263 34.644 23.6145 34.8332C23.5055 35.0196 23.355 35.1629 23.1629 35.2633C22.9737 35.3636 22.7616 35.4138 22.5265 35.4138ZM22.5265 34.7773C22.667 34.7773 22.7859 34.7257 22.8834 34.6225C22.9838 34.5193 23.0339 34.3717 23.0339 34.1796C23.0339 33.9875 22.9852 33.8399 22.8877 33.7366C22.7931 33.6334 22.6756 33.5818 22.5351 33.5818C22.3917 33.5818 22.2728 33.6334 22.1782 33.7366C22.0835 33.837 22.0362 33.9846 22.0362 34.1796C22.0362 34.3717 22.0821 34.5193 22.1739 34.6225C22.2685 34.7257 22.386 34.7773 22.5265 34.7773ZM24.9077 33.3195C24.9794 33.2077 25.0783 33.1174 25.2044 33.0486C25.3306 32.9798 25.4782 32.9454 25.6474 32.9454C25.8452 32.9454 26.0244 32.9955 26.1849 33.0959C26.3454 33.1962 26.4716 33.3396 26.5633 33.5259C26.6579 33.7123 26.7052 33.9287 26.7052 34.1753C26.7052 34.4218 26.6579 34.6397 26.5633 34.8289C26.4716 35.0153 26.3454 35.1601 26.1849 35.2633C26.0244 35.3636 25.8452 35.4138 25.6474 35.4138C25.4811 35.4138 25.3334 35.3794 25.2044 35.3106C25.0783 35.2418 24.9794 35.1529 24.9077 35.044V36.5233H24.1723V32.9798H24.9077V33.3195ZM25.957 34.1753C25.957 33.9918 25.9054 33.8485 25.8022 33.7452C25.7018 33.6392 25.5771 33.5861 25.428 33.5861C25.2818 33.5861 25.1571 33.6392 25.0539 33.7452C24.9536 33.8513 24.9034 33.9961 24.9034 34.1796C24.9034 34.3631 24.9536 34.5079 25.0539 34.6139C25.1571 34.72 25.2818 34.773 25.428 34.773C25.5742 34.773 25.699 34.72 25.8022 34.6139C25.9054 34.505 25.957 34.3588 25.957 34.1753Z"
              fill="#03AC0E"
            />
            <g clip-path="url(#clip0_0_1)">
              <path
                d="M25.1895 30.7248C28.2466 30.7248 30.7248 28.2466 30.7248 25.1895C30.7248 22.1325 28.2466 19.6543 25.1895 19.6543C22.1325 19.6543 19.6543 22.1325 19.6543 25.1895C19.6543 28.2466 22.1325 30.7248 25.1895 30.7248Z"
                fill="#0C80EB"
              />
              <path
                d="M25.1895 31.1897C21.8813 31.1897 19.1895 28.4983 19.1895 25.1897C19.1895 21.8816 21.8813 19.1897 25.1895 19.1897C28.4981 19.1897 31.1895 21.8816 31.1895 25.1897C31.1895 28.4983 28.4981 31.1897 25.1895 31.1897ZM25.1895 20.1192C22.3935 20.1192 20.119 22.3937 20.119 25.1897C20.119 27.9857 22.3935 30.2602 25.1895 30.2602C27.9854 30.2602 30.2599 27.9852 30.2599 25.1897C30.2599 22.3937 27.9854 20.1192 25.1895 20.1192Z"
                fill="#0C80EB"
              />
              <path
                d="M27.7218 28.1897C27.5825 28.1897 27.4425 28.1483 27.3225 28.0624L24.6561 26.1533C24.4881 26.0337 24.3894 25.8447 24.3894 25.6442V21.8261C24.3894 21.4748 24.6881 21.1897 25.056 21.1897C25.424 21.1897 25.7227 21.4748 25.7227 21.8261V25.3261L28.1225 27.0443C28.4172 27.2549 28.4771 27.6539 28.2558 27.9345C28.1251 28.1025 27.9251 28.1897 27.7218 28.1897Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_0_1">
                <rect
                  width="12"
                  height="12"
                  fill="white"
                  transform="translate(19.1895 19.1897)"
                />
              </clipPath>
            </defs>
          </svg>

          <label
            for="evening"
            class="cursor-pointer ml-4 text-sm font-semibold leading-5"
          >
            18:00 - 20:00
          </label>
        </div>
        <div>
          <input
            class="form-check-input appearance-none rounded-full h-6 w-6 border-2 border-white-200 bg-white-800 ring-2 ring-white-800 checked:bg-main-green checked:ring-main-green focus:outline-none transition duration-200 my-1 align-top bg-no-repeat bg-center bg-contain float-left cursor-pointer"
            type="radio"
            value="evening"
            id="evening"
            v-model="picked"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CheckboxCard from "../inputs/CheckboxCard.vue";

export default {
  name: "Metode",
  components: { CheckboxCard },
  data() {
    return {
      picked: "",
      pick: "",
    };
  },
};
</script>
