<template>
  <div class="px-4 mt-6">
    <p class="text-base font-semibold leading-6">Tambahkan Catatan</p>
    <div class="w-full h-px bg-white-500 mt-3"></div>
    <Input
      classeswrapper="relative w-full my-4"
      v-model="notes"
      label="Masukkan catatan di sini"
      path="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM18 14H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"
      view="0 0 24 24"
      classes="appearance-none leading-tigh h-12 w-full bg-white-400 pl-11 rounded-full py-1 focus:outline-none transition-colors peer"
      :classeslabel="[
        this.notes !== ''
          ? 'absolute left-11 text-black-500 cursor-text text-[10px] top-px'
          : 'absolute text-sm left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-px transition-all',
      ]"
    />
  </div>
</template>

<script>
import Input from "../inputs/Input.vue";
export default {
  name: "Notes",
  components: { Input },
  data() {
    return {
      notes: "",
    };
  },
};
</script>
