<template>
  <div class="w-full mt-4 px-4">
    <div class="flex justify-between">
      <p class="text-base font-semibold leading-6">Total Pembayaran</p>
      <p v-if="this.cart.length > 0" class="font-semibold text-base">
        $
        {{
          this.cart
            .map(d => {
              return d.products.values().next().value;
            })
            .map(d => {
              return d.total;
            })
            .reduce((a, b) => a + b)
        }}
      </p>
      <p v-if="this.cart.length == 0" class="font-semibold text-base">$0</p>
    </div>
    <button class="mt-4 w-full py-4 bg-main-green rounded-full">
      <p class="text-sm font-medium leading-4 text-white">Buat Pesanan</p>
    </button>
  </div>
</template>

<script>
export default {
  name: "Total",
  props: ["cart"],
};
</script>
