<template>
  <form class="px-4 w-full flex flex-col items-center">
    <Input
      type="text"
      id="username"
      for="username"
      label="Username"
      v-model="username"
      classeswrapper="relative w-full mt-6"
      classes="h-12 w-full bg-white-400 pl-11 rounded-full focus:outline-none transition-colors peer"
      :classeslabel="[
        this.username !== ''
          ? 'absolute left-11 text-black-500 cursor-text text-[10px] top-px'
          : 'absolute text-sm left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-px transition-all',
      ]"
      path="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
      view="0 0 24 24"
    />
    <Input
      type="text"
      id="email"
      for="email"
      label="Email"
      v-model="email"
      classeswrapper="relative w-full mt-4"
      classes="h-12 w-full bg-white-400 pl-11 rounded-full focus:outline-none transition-colors peer"
      :classeslabel="[
        this.email !== ''
          ? 'absolute left-11 text-black-500 cursor-text text-[10px] top-px'
          : 'absolute text-sm left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-px transition-all',
      ]"
      path="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z"
      view="0 0 24 24"
    />
    <Input
      type="text"
      id="firstName"
      for="firstName"
      label="First Name"
      v-model="firstName"
      classeswrapper="relative w-full mt-4"
      classes="h-12 w-full bg-white-400 pl-11 rounded-full focus:outline-none transition-colors peer"
      :classeslabel="[
        this.firstName !== ''
          ? 'absolute left-11 text-black-500 cursor-text text-[10px] top-px'
          : 'absolute text-sm left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-px transition-all',
      ]"
      path="M20 7h-5V4c0-1.1-.9-2-2-2h-2c-1.1 0-2 .9-2 2v3H4c-1.1 0-2 .9-2 2v11c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zM9 12c.83 0 1.5.67 1.5 1.5S9.83 15 9 15s-1.5-.67-1.5-1.5S8.17 12 9 12zm3 6H6v-.75c0-1 2-1.5 3-1.5s3 .5 3 1.5V18zm1-9h-2V4h2v5zm5 7.5h-4V15h4v1.5zm0-3h-4V12h4v1.5z"
      view="0 0 24 24"
    />
    <Input
      type="text"
      id="lastName"
      for="lastName"
      label="Last Name"
      v-model="lastName"
      classeswrapper="relative w-full mt-4"
      classes="h-12 w-full bg-white-400 pl-11 rounded-full focus:outline-none transition-colors peer"
      :classeslabel="[
        this.lastName !== ''
          ? 'absolute left-11 text-black-500 cursor-text text-[10px] top-px'
          : 'absolute text-sm left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-px transition-all',
      ]"
      path="M20 7h-5V4c0-1.1-.9-2-2-2h-2c-1.1 0-2 .9-2 2v3H4c-1.1 0-2 .9-2 2v11c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zM9 12c.83 0 1.5.67 1.5 1.5S9.83 15 9 15s-1.5-.67-1.5-1.5S8.17 12 9 12zm3 6H6v-.75c0-1 2-1.5 3-1.5s3 .5 3 1.5V18zm1-9h-2V4h2v5zm5 7.5h-4V15h4v1.5zm0-3h-4V12h4v1.5z"
      view="0 0 24 24"
    />
    <Input
      type="text"
      id="gender"
      for="gender"
      label="Gender"
      v-model="gender"
      classeswrapper="relative w-full mt-4"
      classes="h-12 w-full bg-white-400 pl-11 rounded-full focus:outline-none transition-colors peer"
      :classeslabel="[
        this.gender !== ''
          ? 'absolute left-11 text-black-500 cursor-text text-[10px] top-px'
          : 'absolute text-sm left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-px transition-all',
      ]"
      path="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
      view="0 0 24 24"
    />
    <!-- <div class="relative mt-6">
      <input
        type="text"
        id="username"
        v-model="data.username"
        class="h-12 w-[343px] bg-white-400 pl-11 rounded-full py-1 focus:outline-none focus:border-purple-600 transition-colors peer"
        autocomplete="off"
      />
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-5 top-3"
      >
        <path
          d="M13.5944 15.2169H13.6444V15.1669C13.6444 12.1133 11.1019 9.63311 7.98091 9.63311C4.85921 9.63311 2.3167 12.1133 2.3167 15.1669V15.2169H2.3667H3.71773H3.76773V15.1669C3.76773 12.9175 5.65492 11.0841 7.98024 11.0841C10.3056 11.0841 12.1934 12.9168 12.1934 15.1669V15.2169H12.2434H13.5944Z"
          fill="#292929"
          stroke="#292929"
          stroke-width="0.1"
        />
        <path
          d="M7.9809 9.29391C5.91119 9.29391 4.22638 7.6084 4.22637 5.53872L7.9809 9.29391ZM7.9809 9.29391C10.0519 9.29391 11.7368 7.60976 11.7368 5.5387C11.7368 3.46764 10.0519 1.7835 7.9809 1.7835C5.91053 1.7835 4.22569 3.46832 4.22637 5.5387L7.9809 9.29391ZM5.67672 5.5387C5.67672 4.26797 6.71017 3.23453 7.9809 3.23453C9.25098 3.23453 10.2857 4.268 10.2857 5.5387C10.2857 6.80942 9.25231 7.84287 7.9809 7.84287C6.71017 7.84287 5.67672 6.80943 5.67672 5.5387Z"
          fill="#292929"
          stroke="#292929"
          stroke-width="0.1"
        />
      </svg>

      <label
        for="username"
        class="absolute text-sm font-normal left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-[.5px] transition-all"
        >Nama Lengkap</label
      >
    </div>
    <div class="relative mt-4">
      <input
        type="text"
        id="email"
        v-model="data.email"
        class="h-12 w-[343px] bg-white-400 pl-11 rounded-full py-1 focus:outline-none focus:border-purple-600 transition-colors peer"
        autocomplete="off"
        maxlength="14"
        @keypress="onlyNumber"
      />
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-5 top-3"
      >
        <path
          d="M5.5895 2.15274L5.0159 2.32554C4.50517 2.47956 4.04905 2.77628 3.70126 3.18077C3.35346 3.58526 3.12844 4.08069 3.0527 4.60874C2.8151 6.26314 3.3463 8.19754 4.6271 10.4159C5.9047 12.6287 7.3111 14.0543 8.8591 14.6783C9.35648 14.8788 9.90097 14.9322 10.4278 14.8322C10.9547 14.7323 11.4417 14.4831 11.8311 14.1143L12.2647 13.7031C12.5463 13.4367 12.7215 13.077 12.7578 12.6911C12.7942 12.3051 12.6892 11.9191 12.4623 11.6047L11.3775 10.1007C11.2308 9.8977 11.0243 9.74563 10.7869 9.66587C10.5495 9.5861 10.293 9.58263 10.0535 9.65594L8.4127 10.1575L8.3703 10.1655C8.1895 10.1919 7.7719 9.80074 7.2519 8.89994C6.7079 7.95754 6.5959 7.40634 6.7455 7.26394L7.5799 6.48554C7.88503 6.20111 8.09347 5.8283 8.17596 5.4194C8.25846 5.0105 8.21088 4.58603 8.0399 4.20554L7.5103 3.02874C7.35105 2.67462 7.06846 2.39048 6.7152 2.22931C6.36195 2.06814 5.96214 2.04092 5.5903 2.15274H5.5895ZM6.7815 3.35674L7.3095 4.53354C7.41233 4.76173 7.44109 5.01639 7.39173 5.26176C7.34236 5.50713 7.21737 5.73087 7.0343 5.90154L6.1975 6.68074C5.6623 7.18794 5.8399 8.05354 6.5599 9.29994C7.2367 10.4727 7.8543 11.0519 8.5183 10.9511L8.6175 10.9303L10.2879 10.4207C10.3677 10.3962 10.4533 10.3973 10.5325 10.4238C10.6117 10.4504 10.6806 10.5011 10.7295 10.5687L11.8143 12.0727C11.9279 12.2299 11.9805 12.423 11.9624 12.616C11.9443 12.8091 11.8567 12.989 11.7159 13.1223L11.2815 13.5335C11.0034 13.7968 10.6555 13.9746 10.2793 14.0459C9.90307 14.1173 9.51427 14.0791 9.1591 13.9359C7.8007 13.3887 6.5167 12.0871 5.3207 10.0159C4.1215 7.93994 3.6359 6.17434 3.8447 4.72234C3.89875 4.34509 4.05946 3.99113 4.30792 3.70214C4.55637 3.41315 4.88222 3.20116 5.2471 3.09114L5.8207 2.91834C6.00667 2.86246 6.20661 2.87613 6.38325 2.95679C6.55988 3.03745 6.70115 3.17961 6.7807 3.35674H6.7815Z"
          fill="black"
        />
      </svg>

      <label
        for="email"
        class="absolute text-sm font-normal left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-[.5px] transition-all"
        >Nomor HP</label
      >
    </div>
    <div class="relative mt-4">
      <input
        type="text"
        id="firstName"
        v-model="data.firstName"
        class="h-12 w-[343px] bg-white-400 pl-11 rounded-full py-1 focus:outline-none focus:border-purple-600 transition-colors peer"
        autocomplete="off"
        maxlength="14"
        @keypress="onlyNumber"
      />
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-5 top-3"
      >
        <path
          d="M5.5895 2.15274L5.0159 2.32554C4.50517 2.47956 4.04905 2.77628 3.70126 3.18077C3.35346 3.58526 3.12844 4.08069 3.0527 4.60874C2.8151 6.26314 3.3463 8.19754 4.6271 10.4159C5.9047 12.6287 7.3111 14.0543 8.8591 14.6783C9.35648 14.8788 9.90097 14.9322 10.4278 14.8322C10.9547 14.7323 11.4417 14.4831 11.8311 14.1143L12.2647 13.7031C12.5463 13.4367 12.7215 13.077 12.7578 12.6911C12.7942 12.3051 12.6892 11.9191 12.4623 11.6047L11.3775 10.1007C11.2308 9.8977 11.0243 9.74563 10.7869 9.66587C10.5495 9.5861 10.293 9.58263 10.0535 9.65594L8.4127 10.1575L8.3703 10.1655C8.1895 10.1919 7.7719 9.80074 7.2519 8.89994C6.7079 7.95754 6.5959 7.40634 6.7455 7.26394L7.5799 6.48554C7.88503 6.20111 8.09347 5.8283 8.17596 5.4194C8.25846 5.0105 8.21088 4.58603 8.0399 4.20554L7.5103 3.02874C7.35105 2.67462 7.06846 2.39048 6.7152 2.22931C6.36195 2.06814 5.96214 2.04092 5.5903 2.15274H5.5895ZM6.7815 3.35674L7.3095 4.53354C7.41233 4.76173 7.44109 5.01639 7.39173 5.26176C7.34236 5.50713 7.21737 5.73087 7.0343 5.90154L6.1975 6.68074C5.6623 7.18794 5.8399 8.05354 6.5599 9.29994C7.2367 10.4727 7.8543 11.0519 8.5183 10.9511L8.6175 10.9303L10.2879 10.4207C10.3677 10.3962 10.4533 10.3973 10.5325 10.4238C10.6117 10.4504 10.6806 10.5011 10.7295 10.5687L11.8143 12.0727C11.9279 12.2299 11.9805 12.423 11.9624 12.616C11.9443 12.8091 11.8567 12.989 11.7159 13.1223L11.2815 13.5335C11.0034 13.7968 10.6555 13.9746 10.2793 14.0459C9.90307 14.1173 9.51427 14.0791 9.1591 13.9359C7.8007 13.3887 6.5167 12.0871 5.3207 10.0159C4.1215 7.93994 3.6359 6.17434 3.8447 4.72234C3.89875 4.34509 4.05946 3.99113 4.30792 3.70214C4.55637 3.41315 4.88222 3.20116 5.2471 3.09114L5.8207 2.91834C6.00667 2.86246 6.20661 2.87613 6.38325 2.95679C6.55988 3.03745 6.70115 3.17961 6.7807 3.35674H6.7815Z"
          fill="black"
        />
      </svg>

      <label
        for="firstName"
        class="absolute text-sm font-normal left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-[.5px] transition-all"
        >Nomor HP</label
      >
    </div>
    <div class="relative mt-4">
      <input
        type="text"
        id="lastName"
        v-model="data.lastName"
        class="h-12 w-[343px] bg-white-400 pl-11 rounded-full py-1 focus:outline-none focus:border-purple-600 transition-colors peer"
        autocomplete="off"
        maxlength="14"
        @keypress="onlyNumber"
      />
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-5 top-3"
      >
        <path
          d="M5.5895 2.15274L5.0159 2.32554C4.50517 2.47956 4.04905 2.77628 3.70126 3.18077C3.35346 3.58526 3.12844 4.08069 3.0527 4.60874C2.8151 6.26314 3.3463 8.19754 4.6271 10.4159C5.9047 12.6287 7.3111 14.0543 8.8591 14.6783C9.35648 14.8788 9.90097 14.9322 10.4278 14.8322C10.9547 14.7323 11.4417 14.4831 11.8311 14.1143L12.2647 13.7031C12.5463 13.4367 12.7215 13.077 12.7578 12.6911C12.7942 12.3051 12.6892 11.9191 12.4623 11.6047L11.3775 10.1007C11.2308 9.8977 11.0243 9.74563 10.7869 9.66587C10.5495 9.5861 10.293 9.58263 10.0535 9.65594L8.4127 10.1575L8.3703 10.1655C8.1895 10.1919 7.7719 9.80074 7.2519 8.89994C6.7079 7.95754 6.5959 7.40634 6.7455 7.26394L7.5799 6.48554C7.88503 6.20111 8.09347 5.8283 8.17596 5.4194C8.25846 5.0105 8.21088 4.58603 8.0399 4.20554L7.5103 3.02874C7.35105 2.67462 7.06846 2.39048 6.7152 2.22931C6.36195 2.06814 5.96214 2.04092 5.5903 2.15274H5.5895ZM6.7815 3.35674L7.3095 4.53354C7.41233 4.76173 7.44109 5.01639 7.39173 5.26176C7.34236 5.50713 7.21737 5.73087 7.0343 5.90154L6.1975 6.68074C5.6623 7.18794 5.8399 8.05354 6.5599 9.29994C7.2367 10.4727 7.8543 11.0519 8.5183 10.9511L8.6175 10.9303L10.2879 10.4207C10.3677 10.3962 10.4533 10.3973 10.5325 10.4238C10.6117 10.4504 10.6806 10.5011 10.7295 10.5687L11.8143 12.0727C11.9279 12.2299 11.9805 12.423 11.9624 12.616C11.9443 12.8091 11.8567 12.989 11.7159 13.1223L11.2815 13.5335C11.0034 13.7968 10.6555 13.9746 10.2793 14.0459C9.90307 14.1173 9.51427 14.0791 9.1591 13.9359C7.8007 13.3887 6.5167 12.0871 5.3207 10.0159C4.1215 7.93994 3.6359 6.17434 3.8447 4.72234C3.89875 4.34509 4.05946 3.99113 4.30792 3.70214C4.55637 3.41315 4.88222 3.20116 5.2471 3.09114L5.8207 2.91834C6.00667 2.86246 6.20661 2.87613 6.38325 2.95679C6.55988 3.03745 6.70115 3.17961 6.7807 3.35674H6.7815Z"
          fill="black"
        />
      </svg>

      <label
        for="lastName"
        class="absolute text-sm font-normal left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-[.5px] transition-all"
        >Nomor HP</label
      >
    </div>
    <div class="relative mt-4">
      <input
        type="text"
        id="gender"
        v-model="data.gender"
        class="h-12 w-[343px] bg-white-400 pl-11 rounded-full py-1 focus:outline-none focus:border-purple-600 transition-colors peer"
        autocomplete="off"
        maxlength="14"
        @keypress="onlyNumber"
      />
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-5 top-3"
      >
        <path
          d="M5.5895 2.15274L5.0159 2.32554C4.50517 2.47956 4.04905 2.77628 3.70126 3.18077C3.35346 3.58526 3.12844 4.08069 3.0527 4.60874C2.8151 6.26314 3.3463 8.19754 4.6271 10.4159C5.9047 12.6287 7.3111 14.0543 8.8591 14.6783C9.35648 14.8788 9.90097 14.9322 10.4278 14.8322C10.9547 14.7323 11.4417 14.4831 11.8311 14.1143L12.2647 13.7031C12.5463 13.4367 12.7215 13.077 12.7578 12.6911C12.7942 12.3051 12.6892 11.9191 12.4623 11.6047L11.3775 10.1007C11.2308 9.8977 11.0243 9.74563 10.7869 9.66587C10.5495 9.5861 10.293 9.58263 10.0535 9.65594L8.4127 10.1575L8.3703 10.1655C8.1895 10.1919 7.7719 9.80074 7.2519 8.89994C6.7079 7.95754 6.5959 7.40634 6.7455 7.26394L7.5799 6.48554C7.88503 6.20111 8.09347 5.8283 8.17596 5.4194C8.25846 5.0105 8.21088 4.58603 8.0399 4.20554L7.5103 3.02874C7.35105 2.67462 7.06846 2.39048 6.7152 2.22931C6.36195 2.06814 5.96214 2.04092 5.5903 2.15274H5.5895ZM6.7815 3.35674L7.3095 4.53354C7.41233 4.76173 7.44109 5.01639 7.39173 5.26176C7.34236 5.50713 7.21737 5.73087 7.0343 5.90154L6.1975 6.68074C5.6623 7.18794 5.8399 8.05354 6.5599 9.29994C7.2367 10.4727 7.8543 11.0519 8.5183 10.9511L8.6175 10.9303L10.2879 10.4207C10.3677 10.3962 10.4533 10.3973 10.5325 10.4238C10.6117 10.4504 10.6806 10.5011 10.7295 10.5687L11.8143 12.0727C11.9279 12.2299 11.9805 12.423 11.9624 12.616C11.9443 12.8091 11.8567 12.989 11.7159 13.1223L11.2815 13.5335C11.0034 13.7968 10.6555 13.9746 10.2793 14.0459C9.90307 14.1173 9.51427 14.0791 9.1591 13.9359C7.8007 13.3887 6.5167 12.0871 5.3207 10.0159C4.1215 7.93994 3.6359 6.17434 3.8447 4.72234C3.89875 4.34509 4.05946 3.99113 4.30792 3.70214C4.55637 3.41315 4.88222 3.20116 5.2471 3.09114L5.8207 2.91834C6.00667 2.86246 6.20661 2.87613 6.38325 2.95679C6.55988 3.03745 6.70115 3.17961 6.7807 3.35674H6.7815Z"
          fill="black"
        />
      </svg>

      <label
        for="gender"
        class="absolute text-sm font-normal left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-[.5px] transition-all"
        >Nomor HP</label
      >
    </div>
    <div class="relative mt-4">
      <input
        type="text"
        id="age"
        v-model="data.age"
        class="h-12 w-[343px] bg-white-400 pl-11 rounded-full py-1 focus:outline-none focus:border-purple-600 transition-colors peer"
        autocomplete="off"
        maxlength="14"
        @keypress="onlyNumber"
      />
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-5 top-3"
      >
        <path
          d="M5.5895 2.15274L5.0159 2.32554C4.50517 2.47956 4.04905 2.77628 3.70126 3.18077C3.35346 3.58526 3.12844 4.08069 3.0527 4.60874C2.8151 6.26314 3.3463 8.19754 4.6271 10.4159C5.9047 12.6287 7.3111 14.0543 8.8591 14.6783C9.35648 14.8788 9.90097 14.9322 10.4278 14.8322C10.9547 14.7323 11.4417 14.4831 11.8311 14.1143L12.2647 13.7031C12.5463 13.4367 12.7215 13.077 12.7578 12.6911C12.7942 12.3051 12.6892 11.9191 12.4623 11.6047L11.3775 10.1007C11.2308 9.8977 11.0243 9.74563 10.7869 9.66587C10.5495 9.5861 10.293 9.58263 10.0535 9.65594L8.4127 10.1575L8.3703 10.1655C8.1895 10.1919 7.7719 9.80074 7.2519 8.89994C6.7079 7.95754 6.5959 7.40634 6.7455 7.26394L7.5799 6.48554C7.88503 6.20111 8.09347 5.8283 8.17596 5.4194C8.25846 5.0105 8.21088 4.58603 8.0399 4.20554L7.5103 3.02874C7.35105 2.67462 7.06846 2.39048 6.7152 2.22931C6.36195 2.06814 5.96214 2.04092 5.5903 2.15274H5.5895ZM6.7815 3.35674L7.3095 4.53354C7.41233 4.76173 7.44109 5.01639 7.39173 5.26176C7.34236 5.50713 7.21737 5.73087 7.0343 5.90154L6.1975 6.68074C5.6623 7.18794 5.8399 8.05354 6.5599 9.29994C7.2367 10.4727 7.8543 11.0519 8.5183 10.9511L8.6175 10.9303L10.2879 10.4207C10.3677 10.3962 10.4533 10.3973 10.5325 10.4238C10.6117 10.4504 10.6806 10.5011 10.7295 10.5687L11.8143 12.0727C11.9279 12.2299 11.9805 12.423 11.9624 12.616C11.9443 12.8091 11.8567 12.989 11.7159 13.1223L11.2815 13.5335C11.0034 13.7968 10.6555 13.9746 10.2793 14.0459C9.90307 14.1173 9.51427 14.0791 9.1591 13.9359C7.8007 13.3887 6.5167 12.0871 5.3207 10.0159C4.1215 7.93994 3.6359 6.17434 3.8447 4.72234C3.89875 4.34509 4.05946 3.99113 4.30792 3.70214C4.55637 3.41315 4.88222 3.20116 5.2471 3.09114L5.8207 2.91834C6.00667 2.86246 6.20661 2.87613 6.38325 2.95679C6.55988 3.03745 6.70115 3.17961 6.7807 3.35674H6.7815Z"
          fill="black"
        />
      </svg>

      <label
        for="age"
        class="absolute text-sm font-normal left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-[.5px] transition-all"
        >Nomor HP</label
      >
    </div> -->
    <router-link class="absolute bottom-6" to="/verifikasi-otp">
      <button
        class="bg-main-green h-12 w-[343px] text-white text-center rounded-full"
      >
        Kirim
      </button>
    </router-link>
  </form>
</template>

<script>
import Input from "../inputs/Input.vue";
import { useRouter } from "vue-router";

export default {
  name: "FormSignUp",
  components: { Input },
  data() {
    return {
      username: "",
      email: "",
      firstName: "",
      lastName: "",
      gender: "",
    };
  },

  setup() {
    const router = useRouter();
    return { router };
  },
};
</script>
