<template>
  <div>
    <div class="px-4 mt-10 flex flex-col justify-center items-center">
      <form
        @submit.prevent="handleSubmit"
        class="w-full flex flex-col justify-center items-center"
      >
        <Input
          type="text"
          id="username"
          for="username"
          v-model="username"
          classeswrapper="relative w-full"
          :classes="[
            this.error
              ? 'appearance-none leading-tigh h-12 w-full bg-white-400 border border-red-500 pl-11 rounded-full py-1 focus:outline-none transition-colors peer'
              : 'appearance-none leading-tigh h-12 w-full bg-white-400 pl-11 rounded-full py-1 focus:outline-none transition-colors peer',
          ]"
          :classeslabel="[
            this.username !== ''
              ? 'absolute left-11 text-black-500 cursor-text text-[10px] top-px'
              : 'absolute text-sm left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-px transition-all',
          ]"
          label="Username"
          view="0 0 101 101"
          path="M50.4 54.5c10.1 0 18.2-8.2 18.2-18.2S60.5 18 50.4 18s-18.2 8.2-18.2 18.2 8.1 18.3 18.2 18.3zm0-31.7c7.4 0 13.4 6 13.4 13.4s-6 13.4-13.4 13.4S37 43.7 37 36.3s6-13.5 13.4-13.5zM18.8 83h63.4c1.3 0 2.4-1.1 2.4-2.4 0-12.6-10.3-22.9-22.9-22.9H39.3c-12.6 0-22.9 10.3-22.9 22.9 0 1.3 1.1 2.4 2.4 2.4zm20.5-20.5h22.4c9.2 0 16.7 6.8 17.9 15.7H21.4c1.2-8.9 8.7-15.7 17.9-15.7z"
        />
        <Input
          type="password"
          id="password"
          for="password"
          v-model="password"
          classeswrapper="relative w-full mt-4"
          :classes="[
            this.error
              ? 'h-12 w-full bg-white-400 border border-red-500 pl-11 rounded-full py-1 focus:outline-none transition-colors peer'
              : 'h-12 w-full bg-white-400 pl-11 rounded-full py-1 focus:outline-none transition-colors peer',
          ]"
          :classeslabel="[
            this.password !== ''
              ? 'absolute left-11 text-black-500 cursor-text text-[10px] top-px'
              : 'absolute text-sm left-11 top-3 text-black-500 cursor-text peer-focus:text-[10px] peer-focus:-top-px transition-all',
          ]"
          label="Password"
          view="0 0 24 24"
          path="M5,22H19a3,3,0,0,0,3-3V10a3,3,0,0,0-3-3H17V6A5,5,0,0,0,7,6V7H5a3,3,0,0,0-3,3v9A3,3,0,0,0,5,22ZM9,6a3,3,0,0,1,6,0V7H9ZM4,10A1,1,0,0,1,5,9H19a1,1,0,0,1,1,1v9a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1Z"
        />
        <p v-if="error" class="mt-2 text-xs font-normal text-red-500">
          {{ error }}
        </p>
        <button
          class="mt-5 bg-main-green h-12 w-full text-white text-center rounded-full"
        >
          Masuk
        </button>
      </form>
      <div class="mt-5 w-full flex justify-between items-center">
        <div class="w-24 h-px bg-white-500"></div>
        <p class="text-xs font-semibold text-black-500">Atau Login Melalui</p>
        <div class="w-24 h-px bg-white-500"></div>
      </div>
      <button
        class="flex justify-center items-center mt-5 w-full h-12 text-black-900 bg-white border border-main-green rounded-full text-sm font-semibold"
      >
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="mr-1"
        >
          <path
            d="M3.75 8.00012C3.75 7.2074 3.96841 6.4648 4.34784 5.82896V3.13184H1.65072C0.58025 4.52209 0 6.21643 0 8.00012C0 9.7838 0.58025 11.4781 1.65072 12.8684H4.34784V10.1713C3.96841 9.53543 3.75 8.79284 3.75 8.00012Z"
            fill="#FBBD00"
          />
          <path
            d="M8 12.2502L6.125 14.1252L8 16.0002C9.78372 16.0002 11.478 15.42 12.8683 14.3495V11.6553H10.174C9.53262 12.0361 8.78691 12.2502 8 12.2502Z"
            fill="#0F9D58"
          />
          <path
            d="M4.34801 10.1709L1.65088 12.868C1.86282 13.1433 2.0936 13.4069 2.34332 13.6566C3.85432 15.1676 5.86329 15.9997 8.00016 15.9997V12.2497C6.44941 12.2497 5.09026 11.4147 4.34801 10.1709Z"
            fill="#31AA52"
          />
          <path
            d="M16 8.00013C16 7.51341 15.9559 7.02579 15.869 6.55085L15.7987 6.1665H8V9.9165H11.7954C11.4268 10.6497 10.8601 11.2478 10.174 11.6552L12.8682 14.3494C13.1435 14.1375 13.4071 13.9067 13.6568 13.657C15.1678 12.146 16 10.137 16 8.00013Z"
            fill="#3C79E6"
          />
          <path
            d="M11.0052 4.99478L11.3367 5.32622L13.9883 2.67459L13.6569 2.34316C12.1459 0.832156 10.1369 0 8 0L6.125 1.875L8 3.75C9.13519 3.75 10.2025 4.19206 11.0052 4.99478Z"
            fill="#CF2D48"
          />
          <path
            d="M8.0002 3.75V0C5.86332 0 3.85435 0.832156 2.34332 2.34313C2.0936 2.59284 1.86282 2.85644 1.65088 3.13172L4.34801 5.82884C5.09029 4.585 6.44945 3.75 8.0002 3.75Z"
            fill="#EB4132"
          />
        </svg>
        Google
      </button>
      <router-link to="/register">
        <p class="mt-4 text-xs font-normal text-black-500">
          Belum punya akun? Daftar Di Sini
        </p>
      </router-link>
      <p class="my-6 w-full text-xs font-normal text-black-500">
        Dengan masuk atau mendaftar, kamu menyetujui Ketentuan Layanan dan
        Kebijakan Privasi
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { useRouter } from "vue-router";
import Input from "../inputs/Input.vue";

export default {
  name: "FormLogin",
  components: { Input },
  data() {
    return {
      username: "",
      password: "",
      error: "",
    };
  },

  setup() {
    const router = useRouter();
    return { router };
  },

  methods: {
    async handleSubmit() {
      try {
        const response = await axios.post("/auth/login", {
          username: this.username,
          password: this.password,
          expiresInMins: 1440,
        });

        axios.defaults.headers.common[
          "Authorization"
        ] = `Bearer ${response.data.token}`;

        localStorage.setItem("credentials", JSON.stringify(response.data));

        await this.router.push("/home");
      } catch (e) {
        if (this.username === "" && this.password === "") {
          this.error = "Form tidak boleh kosong";
        }
        if (this.username === "") {
          this.error = "Form tidak boleh kosong";
        }
        if (this.password === "") {
          this.error = "Form tidak boleh kosong";
        } else {
          console.log(e);
          this.error = "Invalid Data";
        }
      }
    },
  },
};
</script>
