<template>
  <div class="flex flex-wrap gap-4">
    <div v-for="data in category" :key="data">
      <router-link
        :to="`/category/${data}`"
        class="w-[73px] flex flex-col items-center"
      >
        <div class="w-[73px] h-[73px] flex items-center justify-center">
          <img
            v-if="data === 'smartphones'"
            class="w-10 h-10"
            src="../../assets/img/smartphone.png"
          />
          <img
            v-if="data === 'laptops'"
            class="w-10 h-10"
            src="../../assets/img/laptop.png"
          />
          <img
            v-if="data === 'fragrances'"
            class="w-10 h-10"
            src="../../assets/img/fragrances.png"
          />
          <img
            v-if="data === 'skincare'"
            class="w-10 h-10"
            src="../../assets/img/skincare.png"
          />
          <img
            v-if="data === 'groceries'"
            class="w-10 h-10"
            src="../../assets/img/groceries.png"
          />
          <img
            v-if="data === 'home-decoration'"
            class="w-10 h-10"
            src="../../assets/img/home-decoration.png"
          />
          <img
            v-if="data === 'furniture'"
            class="w-10 h-10"
            src="../../assets/img/furniture.png"
          />
          <img
            v-if="data === 'tops'"
            class="w-10 h-10"
            src="../../assets/img/tops.png"
          />
          <img
            v-if="data === 'womens-dresses'"
            class="w-10 h-10"
            src="../../assets/img/women-dress.png"
          />
          <img
            v-if="data === 'womens-shoes'"
            class="w-10 h-10"
            src="../../assets/img/women-shoes.png"
          />
          <img
            v-if="data === 'mens-shirts'"
            class="w-10 h-10"
            src="../../assets/img/tshirt.png"
          />
          <img
            v-if="data === 'mens-shoes'"
            class="w-10 h-10"
            src="../../assets/img/man-shoes.png"
          />
          <img
            v-if="data === 'mens-watches'"
            class="w-10 h-10"
            src="../../assets/img/man-watch.png"
          />
          <img
            v-if="data === 'womens-watches'"
            class="w-10 h-10"
            src="../../assets/img/women-watch.png"
          />
          <img
            v-if="data === 'womens-bags'"
            class="w-10 h-10"
            src="../../assets/img/women-bags.png"
          />
          <img
            v-if="data === 'womens-jewellery'"
            class="w-10 h-10"
            src="../../assets/img/women-jewellery.png"
          />
          <img
            v-if="data === 'sunglasses'"
            class="w-10 h-10"
            src="../../assets/img/sunglasses.png"
          />
          <img
            v-if="data === 'automotive'"
            class="w-10 h-10"
            src="../../assets/img/automotive.png"
          />
          <img
            v-if="data === 'motorcycle'"
            class="w-10 h-10"
            src="../../assets/img/motorcycle.png"
          />
          <img
            v-if="data === 'lighting'"
            class="w-10 h-10"
            src="../../assets/img/lighting.png"
          />
        </div>
        <div class="w-full h-[36px]">
          <p class="text-xs text-center font-normal leading-5">{{ data }}</p>
        </div>
      </router-link>
    </div>
    <div class="flex justify-center w-full">
      <button class="fixed bottom-4 px-4 py-2 bg-main-green rounded-full">
        <p class="font-semibold text-xs leading-5 text-white">
          Jadikan Toko Favorit
        </p>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ListCategory",
  props: ["category"],
};
</script>
