<template>
  <div>
    <img :src="image" class="mt-4 h-[343px] w-[343px] object-cover" />
    <div class="bg-white-500 py-1 px-3 rounded-full w-fit mt-4">
      <p class="text-xs font-semibold text-black-500">{{ category }}</p>
    </div>
    <p class="mt-4 text-sm text-black-800 font-semibold leading-5">
      {{ title }}
    </p>
    <p class="mt-1 text-sm text-black-800 font-semibold leading-5">
      ${{ price }}
    </p>
    <div class="my-6 w-full h-px bg-white-500"></div>
    <p class="mt-4 text-sm text-black-800 font-semibold leading-5">
      Deskripsi Produk
    </p>
    <p class="mt-2 text-xs font-normal leading-4 text-black-500">
      {{ description }}
    </p>
    <div
      class="my-5 w-full h-[53px] rounded-full bg-main-green flex justify-center items-center"
    >
      <p class="text-sm font-semibold leading-5 text-white">Tambah Pesanan</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ListDetailProduct",
  components: {},
  props: {
    image: {
      type: String,
      default: "",
    },
    category: {
      type: String,
      default: "",
    },
    title: {
      type: String,
      default: "",
    },
    price: {
      type: String,
      default: "",
    },
    description: {
      type: String,
      default: "",
    },
  },
};
</script>
