<template>
  <div :class="margin">
    <div
      class="flex justify-between items-center border border-white-500 bg-white-200 rounded-2xl p-4"
    >
      <div class="flex items-center">
        <svg
          fill="none"
          :width="width"
          :height="height"
          :viewBox="view"
          :xmlns="link"
        >
          <path
            :fill-rule="fillrule1"
            :clip-rule="cliprule1"
            :d="d1"
            :fill="fill1"
          />
          <path
            :fill-rule="fillrule2"
            :clip-rule="cliprule2"
            :d="d2"
            :fill="fill2"
          />
        </svg>

        <label
          :htmlFor="for"
          class="cursor-pointer ml-4 text-sm font-semibold leading-5"
        >
          {{ label }}
        </label>
      </div>
      <div>
        <input
          class="form-check-input appearance-none rounded-full h-6 w-6 border-2 border-white-200 bg-white-800 ring-2 ring-white-800 checked:bg-main-green checked:ring-main-green focus:outline-none transition duration-200 my-1 align-top bg-no-repeat bg-center bg-contain float-left cursor-pointer"
          type="radio"
          :value="modelValue"
          :id="id"
          @input="$emit('update:modelValue', $event.target.value)"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CheckboxCard",
  props: {
    width: {
      type: String,
      default: "",
    },
    height: {
      type: String,
      default: "",
    },
    view: {
      type: String,
      default: "",
    },
    link: {
      type: String,
      default: "",
    },
    fillrule1: {
      type: String,
      default: "",
    },
    cliprule1: {
      type: String,
      default: "",
    },
    d1: {
      type: String,
      default: "",
    },
    fill1: {
      type: String,
      default: "",
    },
    fillrule2: {
      type: String,
      default: "",
    },
    cliprule2: {
      type: String,
      default: "",
    },
    d2: {
      type: String,
      default: "",
    },
    fill2: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    margin: {
      type: String,
      default: "",
    },
    for: {
      type: String,
      default: "",
    },
    id: {
      type: String,
      default: "",
    },
    value: {
      type: String,
      default: "",
    },
    modelValue: {
      required: true,
      default: "",
      type: String,
    },
  },
  emits: ["update:modelValue"],
};
</script>
