<template>
  <div :class="classeswrapper">
    <input
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      autocomplete="off"
      :type="type"
      :id="id"
      :class="classes"
    />
    <svg width="16" height="17" class="absolute left-5 top-3" :viewBox="view">
      <path :d="path" />
      <path :d="pathAdd" />
    </svg>
    <label :for="for" :class="classeslabel">{{ label }}</label>
  </div>
</template>

<script>
export default {
  name: "Input",
  props: {
    type: {
      type: String,
      default: "",
    },
    for: {
      type: String,
      default: "",
    },
    id: {
      type: String,
      default: "",
    },
    classeswrapper: {
      type: String,
      default: "",
    },
    classes: {
      type: String,
      default: "",
    },
    classeslabel: {
      type: String,
      default: "",
    },
    view: {
      type: String,
      default: "",
    },
    path: {
      type: String,
      default: "",
    },
    pathAdd: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    modelValue: {
      required: false,
      default: "",
      type: [String, Number],
    },
  },
  emits: ["update:modelValue"],
};
</script>
