<template>
  <div>
    <Header title="Keranjang" />
    <div class="pt-[52px] pb-4">
      <div class="px-4">
        <Metode />
        <div class="flex justify-between mt-6 items-center">
          <p class="text-base font-semibold leading-6">Pesanan</p>
          <a href="/category">
            <p class="text-xs font-semibold leading-5 text-main-green">
              + Tambah Pesanan
            </p>
          </a>
        </div>
        <div class="w-full h-px bg-white-500 mt-3"></div>
        <ListCart
          :cart="cart"
          :decrement="decrement"
          :increment="increment"
          :remove="remove"
        />
      </div>
      <div class="w-full h-2 bg-white-200 mt-2"></div>
      <Notes />
      <Total :cart="this.cart" />
    </div>
  </div>
</template>

<script>
import Header from "@/components/header/Header.vue";
import ListCart from "@/components/list/ListCart.vue";
import Total from "@/components/cart/Total.vue";
import Notes from "@/components/cart/Notes.vue";
import Metode from "@/components/cart/Metode.vue";
let cart = window.localStorage.getItem("cart");

export default {
  name: "Cart",
  data() {
    return {
      cart: cart ? JSON.parse(cart) : [],
    };
  },
  methods: {
    decrement(item, index) {
      const check = item.products
        .map(d => {
          return d.id;
        })
        .values()
        .next().value;

      let found;
      found = this.cart
        .map(d => {
          return d.products.values().next().value;
        })
        .find(product => product.id == check);

      //checking quantity
      if (found.quantity > 1) {
        found.quantity--;
        found.total = found.price * found.quantity;
      } else if (found.quantity == 1) {
        this.cart.splice(index, 1);
      }
      localStorage.setItem("cart", JSON.stringify(this.cart));
    },
    increment(item) {
      const check = item.products
        .map(d => {
          return d.id;
        })
        .values()
        .next().value;

      let found;
      found = this.cart
        .map(d => {
          return d.products.values().next().value;
        })
        .find(product => product.id == check);

      if (found) {
        found.quantity++;
        found.total = found.price * found.quantity;
      }
      localStorage.setItem("cart", JSON.stringify(this.cart));
    },
    remove(item) {
      this.cart.splice(item, 1);
      localStorage.setItem("cart", JSON.stringify(this.cart));
    },
  },
  components: { Header, ListCart, Total, Notes, Metode },
};
</script>
