<template>
  <div>
    <Header title="Detail Toko" />
    <div class="pt-[52px] flex flex-col justify-center items-center">
      <DetailStore />
      <div class="mt-5 bg-white-400 w-full h-2"></div>
      <div class="px-4 w-full">
        <p class="my-5 text-base font-semibold leading-6">Kategori Produk</p>
        <ListCategory :category="category" />
        <div class="h-10"></div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/header/Header.vue";
import DetailStore from "@/components/category/DetailStore.vue";
import ListCategory from "@/components/list/ListCategory.vue";
import axios from "axios";

export default {
  name: "Category",
  components: {
    Header,
    DetailStore,
    ListCategory,
  },
  data() {
    return {
      category: [],
    };
  },
  created() {
    axios
      .get("products/categories")
      .then(response => {
        this.category = response.data;
      })
      .catch(e => {
        console.log(e);
      });
  },
};
</script>
