<template>
  <div
    class="fixed z-50 bg-white w-[375px] h-[52px] px-4 flex items-center shadow"
  >
    <a :href="`/category/${product.category}`">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.2638 8.71768H5.31668L10.5362 3.49815C10.9533 3.08102 10.9533 2.39649 10.5362 1.97935C10.1191 1.56222 9.44524 1.56222 9.0281 1.97935L1.9796 9.02786C1.56246 9.44499 1.56246 10.1188 1.9796 10.536L9.0281 17.5845C9.44524 18.0016 10.1191 18.0016 10.5362 17.5845C10.9533 17.1673 10.9533 16.4935 10.5362 16.0764L5.31668 10.8568H17.2638C17.8521 10.8568 18.3334 10.3755 18.3334 9.78726C18.3334 9.19899 17.8521 8.71768 17.2638 8.71768Z"
          fill="#03AC0E"
        />
      </svg>
    </a>
    <p class="text-base font-semibold ml-4">{{ product.title }}</p>
  </div>
  <div class="pt-[52px] flex flex-col justify-center items-center px-4 w-full">
    <ListDetailProduct
      :image="product.thumbnail"
      :category="product.category"
      :title="product.title"
      :price="product.price"
      :description="product.description"
    />
  </div>
</template>

<script>
import Header from "@/components/header/Header.vue";
import axios from "axios";
import ListDetailProduct from "@/components/list/ListDetailProduct.vue";

export default {
  name: "DetailProduct",
  components: { Header, ListDetailProduct },
  data() {
    return {
      product: [],
      detail: "",
    };
  },
  created() {
    this.detail = this.$route.params.id;
    axios
      .get(`/products/${this.detail}`)
      .then(res => {
        this.product = res.data;
        console.log(res.data);
      })
      .catch(e => {
        console.log(e);
      });
  },
};
</script>
