<template>
  <div class="px-6 flex flex-col w-full h-screen justify-center items-center">
    <div
      class="p-4 flex flex-col items-center shadow-2xl w-full h-fit rounded-lg"
    >
      <p class="text-xl font-semibold text-main-green">success</p>
      <img src="../assets/img/crown.png" alt="crown" />
      <p class="text-base pb-2">{{ message }},</p>
      <p class="text-sm">you have successfully logged!</p>
      <p class="text-sm">
        click here to
        <a class="text-main-green" href="javascript:void(0)" @click="logout"
          >logout</a
        >
      </p>
      <router-link to="category">store</router-link>
    </div>
  </div>
</template>

<script>
import VueJwtDecode from "vue-jwt-decode";
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";

export default {
  name: "Home",
  setup() {
    const message = ref("");
    const router = useRouter();

    onMounted(async () => {
      try {
        const data = JSON.parse(localStorage.getItem("credentials"));
        message.value = `Hi ${data.firstName}`;

        let accessToken = JSON.parse(localStorage.getItem("credentials"));

        let token = `${accessToken.token}`;

        const decodedToken = VueJwtDecode.decode(token);

        if (decodedToken.exp * 1000 < Date.now()) {
          localStorage.removeItem("credentials");
          await router.push("/login");
        }
      } catch {
        await router.push("/login");
      }
    });

    const logout = async () => {
      localStorage.removeItem("credentials");
      await router.push("/login");
    };

    return {
      message,
      logout,
    };
  },
};
</script>
