<template>
  <div class="loader">
    <div class="dot dotOne"></div>
    <div class="dot dotTwo"></div>
    <div class="dot dotThree"></div>
    <div class="dot dotFour"></div>
  </div>
</template>

<script>
export default {
  name: "Loader",
};
</script>

<style>
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 4px;
  background: #03ac0e;
  animation-name: flow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.dotOne {
  animation-delay: 0s;
}
.dotTwo {
  animation-delay: 0.1s;
}
.dotThree {
  animation-delay: 0.2s;
}
.dotFour {
  animation-delay: 0.3s;
}

@keyframes flow {
  0% {
    opacity: 0;
    transform: translate3d(-12px, 0, 0);
    animation-timing-function: cubic-bezier(
      0.34,
      1.56,
      0.64,
      1
    ); /* easeOutBack  */
  }
  30% {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
    animation-timing-function: linear; /* chill...  */
  }
  50% {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
    animation-timing-function: cubic-bezier(
      0.36,
      0,
      0.66,
      -0.56
    ); /* easeInBack  */
  }
  80% {
    opacity: 0;
    transform: translate3d(12px, 0, 0);
    animation-timing-function: linear; /* chill...  */
  }
  100% {
    opacity: 0;
    transform: translate3d(12px, 0, 0);
    animation-timing-function: linear; /* this creates a small delay before the animation kicks up again  */
  }
}
</style>
