<template>
  <HeaderLogin />
  <FormLogin />
</template>

<script>
import HeaderLogin from "@/components/header/HeaderLogin.vue";
import FormLogin from "@/components/form/FormLogin.vue";

export default {
  name: "Login",
  components: {
    HeaderLogin,
    FormLogin,
  },
};
</script>
