<template>
  <div class="h-screen relative flex flex-col items-center">
    <Header title="Daftar Baru" />
    <div class="pt-[52px] w-full">
      <FormRegister />
    </div>
  </div>
</template>

<script>
import Header from "@/components/header/Header.vue";
import FormRegister from "@/components/form/FormRegister.vue";

export default {
  name: "Register",
  components: {
    Header,
    FormRegister,
  },
};
</script>
