<template>
  <div class="h-screen relative">
    <Header title="Verifikasi OTP" />
    <div class="pt-[52px] w-full flex flex-col items-center">
      <svg
        width="163"
        height="165"
        viewBox="0 0 163 165"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="mt-10"
      >
        <g clip-path="url(#clip0_3_3674)">
          <path
            d="M143.489 140.546C140.156 144.065 137.002 146.334 134.511 148.127C105.225 169.204 70.5718 163.06 63.2069 161.56C52.3314 159.344 31.3092 155.061 16.1106 137.134C-6.88406 110.012 -3.3035 67.2817 14.5324 39.0748C17.7949 33.9152 35.0282 5.27865 70.0549 0.686227C91.2524 -2.09302 115.962 3.51244 133.857 18.5493C171.418 50.1129 168.744 113.877 143.489 140.546Z"
            fill="#03AC0E"
            fill-opacity="0.15"
          />
          <path
            d="M32.0777 29.9612C31.5174 52.6322 29.7001 130.833 30.5678 158.545C30.6116 159.959 31.1907 161.303 32.1873 162.304C33.184 163.305 34.5234 163.888 35.933 163.934C50.4094 164.409 92.0545 165.613 115.733 164.617C118.108 164.519 120.357 163.517 122.021 161.814C123.685 160.111 124.64 157.836 124.689 155.452C125.181 131.656 126.267 64.7264 123.687 34.0659C123.537 32.2861 122.771 30.6151 121.521 29.3426C120.272 28.0702 118.618 27.2767 116.846 27.0999C101.08 25.518 59.2069 21.6512 38.7499 22.9827C36.9699 23.1003 35.2981 23.8816 34.0634 25.173C32.8287 26.4644 32.1203 28.1724 32.0777 29.9612Z"
            fill="#292929"
          />
          <path
            d="M37.96 37.0054C37.1693 55.5729 34.6754 117.342 35.4669 140.184C35.5213 141.794 36.1733 143.325 37.295 144.478C38.4168 145.632 39.9274 146.323 41.5309 146.417C55.22 147.22 90.3322 148.992 110.411 147.379C112.159 147.238 113.796 146.464 115.019 145.204C116.242 143.943 116.966 142.28 117.059 140.523C118.077 121.581 120.998 64.0645 120.239 41.4795C120.18 39.7385 119.488 38.0794 118.294 36.8145C117.1 35.5496 115.486 34.7662 113.756 34.6117C98.9464 33.278 60.9101 30.1047 43.8475 31.0384C42.3023 31.1212 40.8433 31.7782 39.7548 32.8814C38.6663 33.9846 38.0265 35.4548 37.96 37.0054Z"
            fill="#FAFAFA"
          />
          <path
            opacity="0.5"
            d="M67.855 26.9442C67.8545 27.2789 67.9821 27.601 68.2116 27.844C68.4411 28.087 68.7548 28.2323 69.0881 28.2499C72.5074 28.4294 82.1395 28.9376 86.4442 29.1882C86.6423 29.1997 86.8404 29.1657 87.0234 29.0887C87.2064 29.0117 87.3694 28.8937 87.5 28.7439C87.6307 28.5941 87.7254 28.4163 87.7771 28.2241C87.8287 28.0319 87.8359 27.8304 87.7981 27.635L87.7707 27.4921C87.7174 27.214 87.5754 26.9608 87.3662 26.7706C87.157 26.5805 86.8918 26.4636 86.6107 26.4377C83.7009 26.1702 74.9208 25.4287 69.1034 25.637C68.7671 25.6504 68.449 25.7941 68.2162 26.0379C67.9834 26.2817 67.8539 26.6066 67.855 26.9442Z"
            fill="white"
          />
          <path
            d="M105.838 104.515L47.636 103.394C45.7383 103.357 44.3097 105.574 44.4663 108.32C44.6214 111.039 46.6005 111.858 48.4603 111.829L105.398 112.286C106.565 112.268 107.605 110.55 107.733 108.433C107.862 106.298 107.019 104.538 105.838 104.515Z"
            fill="#03AC0E"
            fill-opacity="0.15"
          />
          <path
            d="M106.312 121.862L48.1097 120.742C46.2121 120.705 44.7834 122.922 44.9401 125.668C45.0951 128.386 47.0742 129.205 48.934 129.177L105.872 129.634C107.038 129.616 108.078 127.897 108.207 125.78C108.336 123.646 107.493 121.885 106.312 121.862Z"
            fill="#03AC0E"
            fill-opacity="0.15"
          />
          <path
            d="M81.3234 106.406L49.7372 106.076C48.7075 106.066 47.9332 106.66 48.0195 107.398C48.1049 108.128 49.1794 108.349 50.1886 108.342L81.0882 108.493C81.7212 108.488 82.2847 108.027 82.3533 107.459C82.4224 106.886 81.9643 106.412 81.3234 106.406Z"
            fill="#03AC0E"
          />
          <path
            d="M77.9215 92.2007C92.135 92.2007 103.657 80.6438 103.657 66.3875C103.657 52.1312 92.135 40.5742 77.9215 40.5742C63.7081 40.5742 52.1858 52.1312 52.1858 66.3875C52.1858 80.6438 63.7081 92.2007 77.9215 92.2007Z"
            fill="#03AC0E"
            fill-opacity="0.15"
          />
          <path
            d="M86.2691 57.0946C86.2691 61.4987 82.7096 66.2532 78.3187 66.2532C73.9279 66.2532 70.3684 61.4987 70.3684 57.0946C70.3684 52.6905 73.9278 49.5659 78.3187 49.5659C82.7096 49.5659 86.2691 52.6904 86.2691 57.0946Z"
            fill="#03AC0E"
          />
          <path
            d="M68.4523 83.2093H87.8605C88.8562 83.2093 89.8262 82.892 90.6304 82.3031C91.4346 81.7143 92.0315 80.8844 92.3349 79.9332L93.3793 76.6592C94.1439 74.262 92.9007 71.6665 90.544 70.8023C82.6455 67.9057 74.4782 68.2773 66.1118 71.0696C63.768 71.8518 62.4674 74.3664 63.1141 76.7576L63.9183 79.7307C64.1883 80.7295 64.7787 81.6112 65.5981 82.2399C66.4176 82.8686 67.4206 83.2093 68.4523 83.2093Z"
            fill="#03AC0E"
          />
          <path
            d="M53.6875 124.896C53.6683 125.449 53.435 125.973 53.0372 126.356C52.6393 126.74 52.1082 126.953 51.5564 126.95C51.2861 126.948 51.0189 126.891 50.7708 126.784C50.5226 126.676 50.2985 126.52 50.1117 126.324C49.925 126.128 49.7794 125.896 49.6836 125.642C49.5878 125.389 49.5437 125.119 49.5539 124.848C49.5731 124.294 49.807 123.769 50.2058 123.386C50.6046 123.002 51.1369 122.79 51.6895 122.794C51.9595 122.796 52.2261 122.853 52.4738 122.961C52.7214 123.069 52.9449 123.225 53.1312 123.421C53.3175 123.617 53.4627 123.849 53.5582 124.102C53.6538 124.355 53.6977 124.625 53.6875 124.896Z"
            fill="#03AC0E"
          />
          <path
            d="M61.4202 124.986C61.4022 125.536 61.1713 126.057 60.7767 126.439C60.382 126.821 59.8545 127.033 59.3061 127.032C59.0374 127.029 58.772 126.972 58.5255 126.865C58.2791 126.757 58.0567 126.601 57.8715 126.406C57.6863 126.211 57.5421 125.98 57.4474 125.728C57.3527 125.476 57.3095 125.207 57.3202 124.938C57.3382 124.387 57.5696 123.866 57.9653 123.484C58.3609 123.101 58.8896 122.889 59.4388 122.892C59.7071 122.895 59.972 122.953 60.2179 123.06C60.4638 123.168 60.6856 123.324 60.8703 123.519C61.0551 123.714 61.1989 123.945 61.2933 124.197C61.3878 124.449 61.4309 124.717 61.4202 124.986Z"
            fill="#03AC0E"
          />
          <path
            d="M69.7101 125.123C69.6909 125.677 69.4576 126.2 69.0597 126.584C68.6619 126.967 68.1307 127.18 67.579 127.177C67.3086 127.175 67.0414 127.119 66.7933 127.011C66.5451 126.904 66.321 126.747 66.1342 126.551C65.9474 126.355 65.8018 126.123 65.706 125.87C65.6102 125.616 65.5661 125.346 65.5764 125.075C65.5956 124.521 65.8295 123.997 66.2283 123.613C66.6271 123.229 67.1594 123.017 67.712 123.021C67.9819 123.024 68.2486 123.081 68.4963 123.189C68.7439 123.296 68.9675 123.453 69.1538 123.649C69.34 123.845 69.4853 124.076 69.5808 124.33C69.6764 124.583 69.7203 124.853 69.7101 125.123Z"
            fill="#03AC0E"
          />
          <path
            d="M86.1065 125.319C86.0884 125.869 85.8576 126.39 85.4629 126.772C85.0683 127.153 84.5408 127.366 83.9924 127.365C83.7237 127.362 83.4583 127.305 83.2119 127.198C82.9655 127.09 82.7431 126.934 82.5579 126.739C82.3727 126.544 82.2285 126.313 82.1338 126.061C82.0391 125.809 81.9959 125.54 82.0066 125.271C82.0246 124.72 82.256 124.199 82.6517 123.817C83.0473 123.434 83.5759 123.222 84.1251 123.225C84.3934 123.228 84.6583 123.286 84.9042 123.393C85.1501 123.501 85.3719 123.657 85.5566 123.852C85.7413 124.047 85.8852 124.278 85.9796 124.53C86.0741 124.782 86.1172 125.05 86.1065 125.319Z"
            fill="#03AC0E"
          />
          <path
            d="M94.3328 125.529C94.3135 126.082 94.0803 126.606 93.6824 126.989C93.2846 127.373 92.7535 127.586 92.2017 127.583C91.9314 127.581 91.6642 127.524 91.416 127.417C91.1678 127.309 90.9437 127.153 90.757 126.957C90.5702 126.761 90.4246 126.529 90.3288 126.275C90.233 126.022 90.1889 125.751 90.1992 125.48C90.2184 124.927 90.4523 124.402 90.8511 124.018C91.2499 123.635 91.7822 123.422 92.3348 123.426C92.6047 123.429 92.8714 123.486 93.119 123.594C93.3666 123.702 93.5902 123.858 93.7765 124.054C93.9627 124.25 94.1079 124.482 94.2035 124.735C94.299 124.988 94.343 125.258 94.3328 125.529Z"
            fill="#03AC0E"
          />
          <path
            d="M77.4427 125.213C77.4246 125.763 77.1938 126.284 76.7991 126.666C76.4045 127.048 75.877 127.261 75.3286 127.259C75.0599 127.257 74.7945 127.2 74.5481 127.093C74.3017 126.985 74.0793 126.829 73.8941 126.634C73.7089 126.439 73.5647 126.208 73.47 125.956C73.3753 125.704 73.332 125.435 73.3428 125.166C73.3608 124.615 73.5922 124.093 73.9878 123.711C74.3835 123.329 74.9121 123.117 75.4613 123.12C75.7296 123.123 75.9945 123.18 76.2404 123.288C76.4863 123.396 76.7081 123.552 76.8928 123.747C77.0775 123.942 77.2214 124.172 77.3158 124.424C77.4103 124.676 77.4534 124.945 77.4427 125.213Z"
            fill="#03AC0E"
          />
          <path
            d="M83.1219 156.347C83.1421 156.349 83.1623 156.353 83.1825 156.357L107.076 161.834L107.076 161.834C110.71 162.668 114.518 161.572 117.157 158.936L126.747 149.346C132.086 144.007 132.085 135.354 126.747 130.018L126.747 130.018L109.716 112.987C108.251 111.522 105.876 111.522 104.411 112.987C102.949 114.452 102.949 116.827 104.411 118.293C104.606 118.488 104.606 118.804 104.411 119C104.215 119.195 103.899 119.194 103.704 118.999L103.703 118.999C103.703 118.998 103.702 118.998 103.702 118.997L101.701 116.994C100.236 115.531 97.8634 115.531 96.3982 116.993C96.3981 116.993 96.398 116.994 96.3979 116.994M83.1219 156.347L94.9842 120.889C94.5412 119.434 94.8947 117.79 96.0446 116.64L96.3979 116.994M83.1219 156.347C82.4843 156.201 81.8712 155.856 81.3702 155.355C79.9023 153.887 79.9023 151.521 81.3702 150.053C81.8857 149.537 82.5042 149.205 83.1317 149.065C83.1554 149.06 83.1785 149.053 83.201 149.044L95.1582 146.179C95.3342 146.137 95.4737 146.003 95.5228 145.829C95.572 145.654 95.5232 145.467 95.3952 145.339L70.3514 120.295C68.8863 118.83 68.8863 116.455 70.3513 114.99C71.8163 113.528 74.1886 113.528 75.6537 114.99C75.6538 114.99 75.6539 114.99 75.6541 114.99L87.6748 127.014C87.675 127.014 87.6753 127.015 87.6756 127.015C87.6756 127.015 87.6756 127.015 87.6756 127.015C87.8708 127.21 88.1874 127.21 88.3827 127.015C88.5779 126.82 88.578 126.503 88.3827 126.308L88.3827 126.308C88.3825 126.307 88.3822 126.307 88.382 126.307C86.9175 124.842 86.9181 122.467 88.3824 121.006L88.3827 121.005C89.8478 119.54 92.22 119.54 93.6851 121.005L93.6856 121.006L95.6909 123.005C95.691 123.006 95.691 123.006 95.6911 123.006L95.6916 123.006C95.887 123.201 96.2034 123.201 96.3985 123.005C96.5935 122.81 96.5934 122.494 96.3982 122.299C94.9332 120.834 94.9331 118.459 96.3979 116.994M83.1219 156.347L96.3979 116.994"
            fill="#F7CAA5"
            stroke="#F1A160"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M102.836 115.421L108.067 120.652C107.506 121.21 106.622 121.21 106.061 120.652L104.057 118.649C103.176 117.765 102.757 116.583 102.836 115.421Z"
            fill="#F1A160"
          />
          <path
            d="M94.8208 119.428L102.054 126.661C101.496 127.222 100.612 127.222 100.051 126.661L96.0448 122.655C95.1608 121.771 94.7414 120.589 94.8208 119.428Z"
            fill="#F1A160"
          />
          <path
            d="M86.808 123.434L96.0447 132.671C95.4837 133.232 94.6025 133.232 94.0415 132.671L88.0292 126.661C87.148 125.777 86.7259 124.596 86.808 123.434Z"
            fill="#F1A160"
          />
          <path
            d="M86.8082 123.434C86.7431 124.346 86.9896 125.267 87.5251 126.052L87.5279 126.055L87.5336 126.066L87.5449 126.078L87.5506 126.089L87.5591 126.1L87.5619 126.106L87.5732 126.12L87.5789 126.129L87.5902 126.143L87.5931 126.148L87.6044 126.165L87.6072 126.168L87.6214 126.188L87.6242 126.191L87.6384 126.211L87.6412 126.214L87.6554 126.233H87.6582L87.6724 126.25L87.6752 126.253L87.6894 126.273L87.6922 126.276L87.7036 126.296H87.7064L87.7546 126.358H87.7574L87.7744 126.378V126.381L87.7886 126.398L87.7914 126.401L87.8056 126.42L87.8084 126.423L87.8254 126.44V126.443L87.8424 126.46H87.8452L87.8622 126.48V126.483L87.8792 126.503H87.8821L87.8991 126.522L87.9161 126.542H87.9189L87.9359 126.562L87.9387 126.565L87.9557 126.582L87.9586 126.585L87.9756 126.602L87.9926 126.622H87.9954L88.0124 126.641L88.0322 126.661L94.0417 132.671C94.3222 132.951 94.6849 133.09 95.0447 133.09C95.4046 133.09 95.7672 132.948 96.0477 132.671L86.8082 123.434Z"
            fill="#F7CAA5"
          />
          <path
            d="M96.0363 132.676C95.7586 132.951 95.3988 133.09 95.0418 133.09C94.6848 133.09 94.3249 132.951 94.0473 132.676C94.3278 132.954 94.6848 133.09 95.0418 133.09C95.3988 133.09 95.7558 132.954 96.0363 132.676ZM87.9953 126.622C87.9953 126.622 87.9953 126.624 87.9981 126.624C87.9981 126.627 87.9981 126.627 88.0009 126.63C88.0038 126.633 88.0038 126.633 88.0066 126.636L88.0094 126.639C88.0123 126.641 88.0151 126.644 88.0179 126.647L88.0208 126.65L88.0321 126.661L94.0416 132.671L88.0293 126.661L88.0123 126.641L87.9953 126.622ZM87.9414 126.568C87.9443 126.571 87.9443 126.573 87.9471 126.573C87.9499 126.576 87.9499 126.576 87.9528 126.579C87.9556 126.582 87.9556 126.582 87.9584 126.585C87.9584 126.585 87.9584 126.588 87.9613 126.59C87.9641 126.593 87.9641 126.593 87.9669 126.596L87.9726 126.602C87.9726 126.602 87.9754 126.602 87.9754 126.605C87.9783 126.607 87.9783 126.607 87.9811 126.61C87.9811 126.61 87.9839 126.613 87.9868 126.616C87.9868 126.616 87.9868 126.616 87.9896 126.619L87.9754 126.602L87.9726 126.599L87.9556 126.582L87.9528 126.579L87.9414 126.568ZM87.9159 126.542C87.9188 126.545 87.9216 126.545 87.9216 126.548C87.9244 126.551 87.9244 126.551 87.9273 126.554L87.9301 126.556L87.9159 126.542ZM87.8819 126.503C87.8819 126.505 87.8848 126.505 87.8848 126.508C87.8848 126.511 87.8876 126.511 87.8876 126.514L87.8819 126.503ZM87.8451 126.46C87.8451 126.463 87.8451 126.463 87.8451 126.46C87.8479 126.466 87.8508 126.469 87.8536 126.471L87.8564 126.474L87.8649 126.483L87.8451 126.46ZM87.8139 126.426C87.8139 126.429 87.8139 126.429 87.8139 126.426C87.8168 126.429 87.8168 126.432 87.8168 126.432C87.8196 126.435 87.8224 126.437 87.8224 126.44V126.437L87.8139 126.426ZM87.7828 126.389C87.7856 126.392 87.7856 126.395 87.7884 126.398L87.7913 126.401C87.7941 126.403 87.7969 126.406 87.7969 126.409C87.7969 126.409 87.7969 126.412 87.7998 126.412L87.7913 126.401L87.7884 126.398L87.7828 126.389ZM87.7573 126.358C87.7573 126.361 87.7601 126.364 87.7629 126.369L87.7714 126.378L87.7573 126.358ZM87.7063 126.296C87.7148 126.307 87.7233 126.318 87.7318 126.33L87.7063 126.296ZM87.6581 126.233C87.6609 126.236 87.6609 126.239 87.6638 126.242C87.6666 126.245 87.6694 126.248 87.6723 126.25C87.6751 126.256 87.6779 126.259 87.6808 126.265C87.6836 126.267 87.6864 126.27 87.6893 126.276C87.6921 126.282 87.6949 126.284 87.7006 126.29L87.6893 126.276L87.6864 126.273L87.6723 126.253L87.6694 126.25L87.6581 126.233ZM87.6383 126.211C87.6383 126.214 87.6411 126.214 87.6411 126.216L87.6383 126.211ZM87.6241 126.188C87.6269 126.191 87.6269 126.191 87.6269 126.194L87.6241 126.188ZM87.5674 126.112C87.5703 126.114 87.5703 126.117 87.5731 126.12V126.123C87.5759 126.126 87.5788 126.129 87.5788 126.131C87.5788 126.131 87.5788 126.134 87.5816 126.134L87.5901 126.143L87.5929 126.146C87.5929 126.148 87.5958 126.148 87.5958 126.151L87.5929 126.148L87.5901 126.143L87.5788 126.129L87.5731 126.12L87.5674 126.112ZM87.5391 126.072C87.5419 126.078 87.5448 126.08 87.5476 126.086L87.5448 126.078L87.5391 126.072ZM87.5249 126.052C87.5278 126.055 87.5278 126.055 87.5249 126.052V126.052ZM86.8081 123.434V123.448C86.8081 123.443 86.8081 123.44 86.8081 123.434Z"
            fill="#F7CAA5"
          />
          <path
            d="M86.8081 123.434V123.448C86.7599 124.196 86.9186 124.95 87.2728 125.627C87.3493 125.772 87.4343 125.913 87.5278 126.052L87.5306 126.055L87.5334 126.066L87.5391 126.072L87.5448 126.078L87.5476 126.086L87.5504 126.089L87.5589 126.1L87.5618 126.106L87.5674 126.112L87.5731 126.12L87.5788 126.129L87.5901 126.143L87.5929 126.148L87.5958 126.151L87.6043 126.165L87.6071 126.168L87.6213 126.188L87.6241 126.191L87.6269 126.197L87.6383 126.211L87.6411 126.214L87.6439 126.216L87.6553 126.233H87.6581L87.6723 126.25L87.6751 126.253L87.6893 126.273L87.6921 126.276L87.7006 126.287L87.7034 126.296H87.7063L87.7318 126.33L87.7516 126.358H87.7544L87.7714 126.378V126.381L87.7799 126.389L87.7884 126.398L87.7913 126.401L87.7998 126.412L87.8054 126.42L87.8083 126.423L87.8139 126.429L87.8253 126.44V126.443L87.8423 126.46H87.8451L87.8621 126.48V126.483L87.8791 126.503H87.8819L87.8904 126.514L87.8989 126.522L87.9159 126.542H87.9188L87.9301 126.556L87.9329 126.559L87.9358 126.562L87.9414 126.568L87.9528 126.579L87.9556 126.582L87.9726 126.599L87.9754 126.602L87.9868 126.616L87.9896 126.622H87.9924L88.0094 126.641L88.0293 126.661L94.0388 132.671C94.0416 132.674 94.0444 132.676 94.0444 132.676C94.3221 132.951 94.6819 133.09 95.0389 133.09C95.3959 133.09 95.7558 132.951 96.0334 132.676C96.0363 132.674 96.0391 132.671 96.0391 132.671L86.8081 123.434Z"
            fill="#F1A160"
          />
        </g>
        <defs>
          <clipPath id="clip0_3_3674">
            <rect width="163" height="165" fill="white" />
          </clipPath>
        </defs>
      </svg>
      <div class="flex flex-col items-center mt-6 w-[253px]">
        <p class="text-base font-bold text-center">Verifikasi Kode OTP</p>
        <p class="text-sm font-normal text-center mt-3">
          Masukkan nomor OTP yang telah kami kirim ke nomor telepon Anda
        </p>
      </div>
      <v-otp-input
        class="gap-4 mt-4"
        ref="otpInput"
        input-classes="otp-input error-input"
        input-type="text"
        separator=" "
        :num-inputs="4"
        :should-auto-focus="true"
        :placeholder="['-', '-', '-', '-']"
        :is-disabled="isDisabled"
        @on-change="handleOnChange"
        @on-complete="handleOnComplete"
      />
      <button
        class="absolute bottom-6 mt-5 bg-main-green h-12 w-[343px] text-white text-center rounded-full"
      >
        Kirim
      </button>
    </div>
  </div>
</template>

<script>
import Header from "@/components/header/Header.vue";
import VOtpInput from "vue3-otp-input";
import { ref } from "vue";
// import axios from 'axios'

export default {
  name: "VerifikasiOTP",
  components: {
    Header,
    VOtpInput,
  },
  setup() {
    const otpInput = ref(null);
    const isDisabled = ref(false);
    const hasError = ref(false);

    const handleOnComplete = value => {
      console.log("OTP completed: ", value);
    };

    const handleOnChange = value => {
      console.log("OTP changed: ", value);
    };

    return {
      handleOnComplete,
      handleOnChange,
      otpInput,
      isDisabled,
      hasError,
    };
  },
};
</script>

<style>
.otp-input {
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-radius: 16px;
  text-align: center;
}

.otp-input:focus {
  border: none;
  outline: none;
}
</style>
