<template>
  <div class="flex flex-col justify-center items-center">
    <img
      class="mt-12 w-56 h-60 object-cover"
      src="../../assets/img/header-logo.jpg"
      alt="header-logo"
    />
    <div>
      <p class="mt-9 text-2xl font-bold text-main-green text-center">
        Hai, fren!
      </p>
      <p class="text-base font-normal text-black-800 text-center">
        Selamat Datang di Aplikasi WoiShop
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderLogin",
  components: {},
};
</script>
