<template>
  <div class="container">
    <div v-if="isloaded">
      <Loader />
    </div>
    <div v-if="!isloaded">
      <router-view />
    </div>
  </div>
</template>

<script>
import "./assets/tailwind.css";
import Loader from "./view/Loader.vue";

export default {
  name: "App",
  components: { Loader },
  data: () => {
    return {
      isloaded: true,
    };
  },
  mounted() {
    setTimeout(() => {
      this.isloaded = false;
    }, 1000);
  },
};
</script>

<style>
.container {
  max-width: 375px;
  background-color: #fff;
  min-height: 100vh;
  margin: auto;
  padding: 0;
}
</style>
